h1.display-4 {
    font-weight: bold;
}

.step {
    margin-bottom: 20px;
}

.step h3 {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: left;
}

.step p {
    color: #a18d76;
}

.btn-comenzar {
    background-color: #f77d31;
    border-color: #f77d31;
    border-radius: 20px;
    padding: 10px 20px;
    font-weight: bold;
    color: white;
}

.icon-step {
    width: 100px;
    height: 100px;
    margin-right: 15px;
}

.custom-text-left {
    align-items: flex-start !important;
}

h2.display-4{
    font-weight: bold;
}

.imagen-paso2{
    height: 100%;
    width: 100%;
}

.btn-2{
    background-color: #f77d31;
    border-color: #f77d31;
    border-radius: 20px;
    padding: 10px 20px;
    font-weight: bold;
    color: white;
}

form label {
    font-weight: bold;
}

.imagen-paso4{
    height: 90%;
    width: 90%;
}

.row p{
    color: #a18d76;
}