<div class="container" *ngIf="step == 1">
    <div class="row">
        <div class="col-md-6 d-flex align-items-center justify-content-center vh-90">
            <h1 class="display-4">Crear tu evento <br> es muy sencillo</h1>
        </div>
        <div class="col-md-6 my-3">
            <div class="step mt-5">
                <div class="d-flex align-items-center">
                    <img src="https://cdn-icons-png.freepik.com/512/4029/4029050.png" alt="Icono de notas"
                        class="icon-step">
                    <div>
                        <h3>1. Describe tu evento</h3>
                        <p>Comparte algunos datos básicos, un título, una descripcion y las categorias a las que
                            pertenece.</p>
                    </div>
                </div>
            </div>
            <div style="border-bottom: 1px solid rgb(77, 75, 75);"></div>
            <div class="step mt-5">
                <div class="d-flex align-items-center">
                    <img src="https://cdn-icons-png.flaticon.com/512/1040/1040241.png" alt="Icono de notas"
                        class="icon-step">
                    <div>
                        <h3>2. Hazlo destacar</h3>
                        <p>Agrega una foto, la ubicación, fecha y hora en la que se realizará tu evento.</p>
                    </div>
                </div>
            </div>
            <div style="border-bottom: 1px solid rgb(77, 75, 75);"></div>
            <div class="step mt-5">
                <div class="d-flex align-items-center">
                    <img src="https://cdn-icons-png.freepik.com/512/5197/5197704.png" alt="Icono de notas"
                        class="icon-step">
                    <div>
                        <h3>3. Terminar y publicar</h3>
                        <p>Elige un precio inicial, verifica algunos detalles y publica tu evento.</p>
                    </div>
                </div>
            </div>


        </div>

        <div class="buttons-start">
            <button class="btn btn-cancel btn-outline-secondary mt-4" (click)="cancel()">Regresar al Inicio</button>
            <button class="btn btn-comenzar mt-4" (click)="next()">Comencemos</button>
        </div>
    </div>
</div>



<form #eventoForm="ngForm">
    <div class="container mt-5">

        <!--PASO 2 y 3 unidos-->
        <div class="container" *ngIf="step == 2">
            <div class="row">
                <div class="col-md-6">
                    <!-- Contenido del Paso 2 -->
                    <h3 class="paso"><i class="fas fa-info-circle"></i> Paso 1</h3>
                    <h2 class="display-4">Describe tu evento</h2>
                    <p class="mt-2 text-left" style="margin-bottom: 0">
                        Comparte información detallada sobre el evento, comenzando con algunos datos básicos como el
                        nombre
                        del evento,
                        una descripción completa que explique el propósito y los aspectos más destacados del mismo, así
                        como
                        el título que
                        lo represente de manera atractiva. No olvides incluir las categorías a las que pertenece, para
                        que
                        los asistentes
                        potenciales puedan identificar fácilmente el tipo de evento que estás organizando.</p>
                    <img src="https://static.vecteezy.com/system/resources/previews/018/757/969/original/3d-concert-stage-png.png"
                        alt="icono de escenario" class="imagen-paso2" style="height: 75%; margin-top: -40px;">
                </div>
                <div class="col-md-6 d-flex justify-content-center">
                    <!-- Contenido del Paso 3 -->
                    <div class="w-100 d-flex flex-column align-items-center">
                        <div class="mb-3 mt-5 w-100">
                            <label for="titulo" class="form-label">Título</label>
                            <input type="text" class="form-control" id="titulo"
                                placeholder="Introduce el título del evento" name="titulo" [(ngModel)]="evento.titulo">
                        </div>

                        <div class="mb-3 mt-5 w-100">
                            <label for="descripcion" class="form-label text-bold">Descripción</label>
                            <textarea class="form-control" id="descripcion" rows="4" name="descripcion"
                                [(ngModel)]="evento.descripcion"
                                placeholder="Introduce una descripción detallada del evento"></textarea>
                        </div>

                        <div class="mb-5 mt-5 w-40">
                            <label for="categoria" class="form-label">Categoría</label><br>
                            <select class="form-select" id="categoria" name="categorias"
                                [(ngModel)]="selectedCategoriaIds" multiple>
                                <option *ngFor="let categoria of categorias" [value]="categoria.id">{{ categoria.nombre
                                    }}</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col d-flex justify-content-between">
                    <button class="btn btn-outline-secondary" (click)="previus()">Atrás</button>
                    <button class="btn btn-2" (click)="next()">Siguiente</button>
                </div>
            </div>
        </div>

        <!--PASO 3 y 4 unidos-->

        <div *ngIf="step == 3">
            <div class="row">
                <div class="col-md-6">
                    <!-- Contenido del Paso 3 -->
                    <h3 class="paso"><i class="fas fa-image"></i> Paso 2</h3>
                    <h2 class="display-4">Hazlo destacar</h2>
                    <p class="mt-2 text-left">
                        Sube una imagen representativa que capture la esencia y el ambiente del evento,
                        ya sea un póster promocional o cualquier otra visual que ayude a los asistentes a visualizar
                        lo que les espera. A continuación, proporciona la
                        dirección exacta del evento, incluyendo detalles como el nombre del lugar, la calle y
                        cualquier referencia adicional que pueda ser útil para llegar sin inconvenientes.
                        No olvides especificar la fecha y la hora de inicio, para que los participantes puedan
                        planificar su
                        asistencia de manera adecuada.</p>
                    <img src="https://cdn-icons-png.flaticon.com/512/5798/5798294.png" alt="icono de subir imagen"
                        class="imagen-paso4" style="width: 75%; margin-top: 20px; margin-bottom: 20px; height: 55%;">
                </div>
                <div class="col-md-6">
                    <!-- Contenido del Paso 4 -->
                    <h1 style="margin-bottom: 150px;">Sube tu imagen</h1>
                    <div class="dropzone" appDrag (files)="fileDropped($event)">
                        <div class="text-wrapper">
                            <div class="centered">Arrastre y suelte su imagen o
                                <a (click)="selectFile.click()" class="browse-button">busque</a> una imagen
                            </div>
                        </div>
                    </div>
                    <input type="file" name="eventoImagenes" style="display: none;" multiple value="select" #selectFile
                        (change)="onFileSelected($event)">
                    <div class="mt-5">
                        <div class="row mb-5 contenedor1" *ngIf="evento && evento.eventoImagenes">
                            <mat-grid-list cols="4" rowHeight="1:1">
                                <div style="display: inline-flex;"
                                    *ngFor="let file of evento.eventoImagenes; let i = index;">
                                    <span class="btn-remove-image" (click)="removeImages(i)">x</span>
                                    <img [src]="file.url" width="100px" height="100px" class="mx-2">
                                </div>
                            </mat-grid-list>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col d-flex justify-content-between">
                    <button class="btn btn-outline-secondary" (click)="previus()">Atrás</button>
                    <button class="btn btn-2" (click)="next()">Siguiente</button>
                </div>
            </div>
        </div>


        <!--PASO 4 y 5 unidos-->

        <div *ngIf="step == 4">
            <div class="row">
                <div class="col-md-6">
                    <!-- Contenido del Paso 4 -->
                    <h3 class="paso"><i class="fas fa-check-circle"></i> Paso 3</h3>
                    <h2 class="display-4">Asignar Ubicación y Fecha</h2>

                    <p class="mt-2 text-left">
                        Es hora de definir la ubicación para tu evento, recuerda que la ubicación se va a tener que
                        relacionar con los "Points"
                        a los cuales va a ir dirigido.<br>
                        Determina la fecha en la cual daras inicio al evento para poder manejar los tiempos de
                        preparación y poder dar un
                        buen inicio.</p>
                    <img src="https://cdn-icons-png.flaticon.com/512/3721/3721984.png" alt="icono de subir imagen"
                        class="imagen-paso4" style="width: 75%; margin-top: 20px; margin-bottom: 60px; height: 55%;">
                </div>
                <div class="col-md-6">
                    <!-- Contenido del Paso 5 -->
                    <div class="row">
                        <div class="col-md-12 mt-5 mb-4">
                            <label for="direccion">Dirección:</label>
                            <input type="text" id="direccion" class="form-control" name="direccion"
                                [(ngModel)]="evento.direccion">
                        </div>
                        <div class="col-md-12 mt-3 mb-4">
                            <label for="url">URL de la dirección:</label>
                            <input type="text" id="url" class="form-control" name="direccionUrl"
                                [(ngModel)]="evento.direccionUrl">
                        </div>
                    </div>
                    <div class="row mb-5">
                        <div class="col-md-6 mt-3 mb-5">
                            <label for="fecha">Fecha:</label>
                            <input type="date" id="fecha" class="form-control" name="fecha" [(ngModel)]="evento.fecha">
                        </div>
                        <div class="col-md-6 mt-3 mb-5">
                            <label for="hora">Hora:</label>
                            <input type="time" id="hora" class="form-control" name="hora" [(ngModel)]="evento.hora">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col d-flex justify-content-between">
                    <button class="btn btn-outline-secondary" (click)="previus()">Atrás</button>
                    <button class="btn btn-2" (click)="next()">Siguiente</button>
                </div>
            </div>
        </div>

        <!--PASO 5 y 6 unidos-->

        <div *ngIf="step == 5">
            <div class="row">
                <div class="col-md-6">
                    <!-- Contenido del Paso 5 -->
                    <h3 class="paso"><i class="fas fa-check-circle"></i> Paso 4</h3>
                    <h2 class="display-4">Elige tus Points</h2>
                    <p class="mt-2 text-left">
                        En este apartado podras seleccionar los Points a los cuales tu Evento estara apuntando.<br>
                        Puedes elegir más de uno si es el caso, una vez que hayas terminado de elegirlos seleccionando a
                        cada uno de ellos
                        ya podrás continuar.
                    </p>
                    <img src="https://cdn-icons-png.flaticon.com/512/3562/3562688.png" alt="icono de subir imagen"
                        class="imagen-paso4" style="width: 65% ;height: 55%; margin-top: 20px; margin-bottom: 80px;">
                </div>
                <div class="col-md-6">
                    <!-- Contenido del Paso 6 -->
                    <h2 class="display-4" style="margin-bottom: 150px; margin-left: 80px;"></h2>
                    <div class="points-container mx-auto" style="width: 800px; height: 500px; overflow-y: auto;">
                        <div class="row">
                            <div *ngFor="let institution of institutions; let i = index" class="col-md-4">
                                <div class="point-item" [ngClass]="{'selected': institution.selected}"
                                    (click)="selectPoint(institution)">
                                    <div class="image-container">
                                        <img [src]="institution.imagenUrl" [alt]="institution.nombre" loading="lazy"
                                            class="d-block w-100" draggable="false">
                                    </div>

                                    <p draggable="false" style="margin-top: 10px;"><b>{{ institution.nombre }}</b></p>
                                </div>
                            </div>
                        </div>
                    </div>



                </div>
            </div>
            

        </div>






        <!--PASO 6 y 7 unidos-->

        <div *ngIf="step == 6">
            <div class="row">
                <div class="col-md-6">
                    <!-- Contenido del Paso 6 -->
                    <h3 class="paso"><i class="fas fa-check-circle"></i> Paso 5</h3>
                    <h2 class="display-4">Dale un Precio</h2>
                    <p class="mt-2 text-left">
                        Determina el precio inicial para asistir a tu evento, teniendo en cuenta factores
                        como
                        los costos de organización y el valor que ofrece la experiencia.
                    </p>
                    <img src="https://cdn-icons-png.flaticon.com/512/1787/1787203.png" alt="icono de subir imagen"
                        class="imagen-paso4" style="width: 65% ;height: 55%; margin-top: 20px; margin-bottom: 80px;">
                </div>
                <div class="col-md-6">
                    <!-- Contenido del Paso 7 -->
                    <h2 class="display-4">Precio de la Entrada</h2>
                    <div class="row mb-5 justify-content-center">
                        <div class="col-md-6 mt-5 mb-5 d-flex justify-content-center align-items-center">
                            <div class="w-100">
                                <label for="precio" style="font-size: 24px;">Precio:</label>
                                <input type="number" id="precio" class="form-control" name="precioEntrada"
                                    style="font-size: 24px; padding: 13px;" [(ngModel)]="evento.precioEntrada">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            

        </div>


        <div *ngIf="step == 7">
            <div class="row">
                <div class="col-md-6 d-flex flex-column align-items-center justify-content-center vh-90 mt-5">
                    <h2 class="display-4">Vende Combos o Paquetes <b>(OPCIONAL)</b></h2>
                    <p class="mt-2 text-left">
                        En este apartado podrás decidir si vas a querer vender Combos de consumibles para tu evento. Te
                        brindamos
                        los proveedores disponibles para que puedas adaptar las necesidades requeridas para tu evento en
                        el apartado
                        de venta de adicionales.</p>
                    <img src="https://cdn-icons-png.flaticon.com/512/1940/1940180.png" alt="icono de subir imagen"
                        class="imagen-paso4" style="width: 50%; margin-top: -20px;">
                </div>
                <div class="col-md-6 mt-5 mb-5">
                    <h2 class="display-4" style="margin-bottom: 100px;">¿Como deseas agregar tus combos?</h2>

                    <div class="d-flex flex-column align-items-center">
                        <button class="btn btn-2 btn-lg mb-5" (click)="agregarProveedores()">Con Proveedores
                            Recomendados</button>
                        <button class="btn btn-primary btn-lg" (click)="continuarSinProveedores()">Sin
                            Proveedores</button>
                    </div>
                </div>
            </div>


        </div>

        <div *ngIf="step == 8">
            <div class="row">
                <div class="col-md-6 d-flex flex-column align-items-center justify-content-center vh-90 mt-5">
                    <h2 class="display-4">Vender con Proveedores recomendados</h2>
                    <p class="mt-2">
                        Aquí podras escoger los combos patrocinados por nuestros Proveedores.<br>
                        Se te facilita un catologo del cual podras escoger las multiples opciones de las cuales podras
                        escoger la querer
                        más se adapte a lo que necesita tu evento</p>
                    <img src="https://cdn-icons-png.flaticon.com/512/1940/1940180.png" alt="icono de subir imagen"
                        class="imagen-paso4" style="width: 50%; margin-top: -20px;">
                </div>
                <div class="col-md-6 mt-5 mb-5">
                    <h2 class="display-4" style="margin-bottom: 100px;">Proveedores</h2>


                </div>
            </div>


        </div>

        <!--PASO 9-->
        <div *ngIf="step == 9">
            <div class="d-flex flex-column align-items-center justify-content-center vh-90 mt-5">
                <div class="col-md-6">
                    <h2 class="display-4">Vender sin Proveedores</h2>
                    <p class="mt-2 text-left">
                        En este apartado podrás decidir si vas a querer vender Combos de consumibles para tu evento. Te
                        brindamos
                        los proveedores disponibles para que puedas adaptar las necesidades requeridas para tu evento en
                        el apartado
                        de venta de adicionales.</p>
                </div>


            </div>
            <div class="mt-5 mb-5 mt-5" style="width: 100%;">
                <div class="row">
                    <div class="col-md-12" style="margin-bottom: 30px;">
                        <h2>Combos</h2>
                        <button class="btn btn-primary" [disabled]="isMaxCombosReached" (click)="agregarCombo()">
                            <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 48 48"
                                style="margin-right: 5px;">
                                <path fill="#2f88ff" stroke="#000" stroke-linejoin="round" stroke-width="4"
                                    d="M30 4H18V18H4V30H18V44H30V30H44V18H30V4Z" />
                            </svg>
                            Añadir Combo
                        </button>
                        <div *ngIf="isMaxCombosReached">
                            <small style="color: red;">Cantidad máxima de combos alcanzada</small>
                        </div>
                    </div>

                    <div class="row">
                        <div *ngFor="let combo of combos; let i = index" class="col-md-4">
                            <div class="card combo-card">
                                <div class="card-header float-right">
                                    <button class="btn btn-primary" (click)="modificarCombo(combo)">Modificar
                                    </button>
                                </div>
                                <div class="card-body">


                                    <h5 class="card-title">{{ combo.nombre }}</h5>
                                    <p class="card-text descripcion">{{ combo.descripcion }}</p>
                                    <img src="{{ combo.imagen }}" alt="Imagen del combo" class="imagen-combo">
                                    <p class="card-text">Precio: S/{{ combo.precio }}</p>
                                    <div class="float-right">
                                        <button class="btn btn-danger" (click)="eliminarCombo(combo)">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="2em" height="2em"
                                                viewBox="0 0 256 256">
                                                <path fill="currentColor"
                                                    d="M216 48h-36V36a28 28 0 0 0-28-28h-48a28 28 0 0 0-28 28v12H40a12 12 0 0 0 0 24h4v136a20 20 0 0 0 20 20h128a20 20 0 0 0 20-20V72h4a12 12 0 0 0 0-24M100 36a4 4 0 0 1 4-4h48a4 4 0 0 1 4 4v12h-56Zm88 168H68V72h120Zm-72-100v64a12 12 0 0 1-24 0v-64a12 12 0 0 1 24 0m48 0v64a12 12 0 0 1-24 0v-64a12 12 0 0 1 24 0" />
                                            </svg>

                                        </button>
                                    </div>

                                    <!-- Ventana modal -->
                                    <ng-template #content>
                                        <div class="modal-header">
                                            <h5 class="modal-title">Modificar Combo</h5>

                                        </div>
                                        <div class="modal-body">
                                            <!-- Contenido de la ventana modal -->
                                            <form>
                                                <div class="form-group">
                                                    <label for="nombre" style="color: black;">Nombre</label>
                                                    <input type="text" class="form-control" id="nombre" name="nombre"
                                                        [(ngModel)]="comboEditado.nombre">
                                                </div>
                                                <div class="form-group">
                                                    <label for="descripcion" style="color: black;">Descripción</label>
                                                    <textarea class="form-control" id="descripcion" name="descripcion"
                                                        [(ngModel)]="comboEditado.descripcion"></textarea>
                                                </div>

                                                <div class="form-group mt-3">
                                                    <label for="imagen" style="color: black;">Imagen</label>
                                                    <div class="d-flex flex-wrap">
                                                      <div *ngFor="let img of imagenesPredefinidas; let i = index" class="m-2">
                                                        <img [src]="img" 
                                                             [class.selected]="comboEditado.imagen === img"
                                                             (click)="seleccionarImagen(img)" 
                                                             alt="Opción de imagen {{i+1}}" 
                                                             style="width: 200px; height: 200px; object-fit: cover; cursor: pointer; border: 2px solid transparent;"
                                                             [style.border-color]="comboEditado.imagen === img ? 'blue' : 'transparent'">
                                                      </div>
                                                    </div>
                                                  </div>

                                                <div class="form-group">
                                                    <label for="precio" style="color: black;">Precio</label>
                                                    <input type="number" class="form-control" id="precio" name="precio"
                                                        [(ngModel)]="comboEditado.precio">
                                                </div>
                                            </form>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary"
                                                (click)="cerrarModal()">Cancelar</button>
                                            <button type="button" class="btn btn-primary"
                                                (click)="guardarCambios()">Guardar cambios</button>
                                        </div>
                                    </ng-template>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>



        </div>


        <div *ngIf="step == 10">
            <div class="row">
                <div class="col-md-6 d-flex flex-column align-items-center justify-content-center vh-90 mt-5">
                    <h3 class="paso"><i class="fas fa-check-circle"></i> Paso 3</h3>
                    <h2 class="display-4">Terminar y publicar</h2>
                    <p class="mt-2 text-left">
                        Realiza
                        una revisión detallada de toda la información proporcionada, incluyendo la descripción del
                        evento, la fecha, la hora, la ubicación y cualquier otro detalle relevante, para asegurarte
                        de que todo esté correcto y completo. Una vez que hayas confirmado que toda la información
                        es precisa y estás satisfecho con los detalles, procede a publicar tu evento.</p>
                </div>
                <div class="col-md-6 mt-5 mb-5">
                    <img src="https://th.bing.com/th/id/R.75c46cd81a8db59d59dc3e388a83dedd?rik=5ir2xlsh6OggKg&pid=ImgRaw&r=0"
                        alt="icono de subir imagen" class="imagen-paso4">
                </div>
                <div class="mt-5 mb-5">
                    <div class="form-check mt-3">
                        <input class="form-check-input" type="checkbox" id="terminos-y-condiciones"
                            [(ngModel)]="aceptarTerminos" style="width: 22px; height: 22px;">
                        <label class="form-check-label" for="terminos-y-condiciones" style="font-size: 18px;">He leído
                            los Terminos y Condiciones de la página</label>
                    </div>
                </div>
            </div>


        </div>





        <div class="row">
            <div class="col d-flex justify-content-between">
                <button class="btn btn-outline-secondary" type="button" *ngIf="step >= 5 && step <= 7"
                    (click)="previus()">Atrás</button>

                <button class="btn btn-2" type="button" *ngIf="step >= 5  && step < 7"
                    (click)="next()">Siguiente</button>

                <button class="btn btn-link" type="button" *ngIf="step == 7" (click)="omitir()">Omitir</button>

                <!-- BOTONES ESPECIALES -->

                <button class="btn btn-outline-secondary" type="button" *ngIf="step >= 8 &&  step <= 10"
                    (click)="specialPrevius()">Atrás</button>

                <button class="btn btn-2" type="button" *ngIf="step >= 8  && step < 10"
                    (click)="specialNext()">Siguiente</button>

                <!--  -->
                <button class="btn btn-2" type="submit" *ngIf="step == 10">PUBLICAR EVENTO</button>
            </div>
        </div>
    </div>