h1.display-4 {
    font-weight: bold;

}

.step {
    margin-bottom: 20px;
}

.step h3 {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: left;
}

.step p {
    color: #a18d76;
}

.buttons-start {
    display: flex;
    /* Para alinear los elementos de manera horizontal */
    justify-content: space-between;
    /* Para colocar los botones en extremos opuestos */
    align-items: center;
    /* Centrar verticalmente los botones si tienen diferentes alturas */
    width: 100%;
    /* Asegurar que el contenedor ocupe todo el ancho disponible */
}

.btn-comenzar {
    background-color: #f77d31;
    border-color: #f77d31;
    border-radius: 20px;
    padding: 10px 20px;
    font-weight: bold;
    color: white;
}

.btn-cancel {
    background-color: #7e7671;
    border-color: #8f8e8d;
    border-radius: 20px;
    padding: 10px 20px;
    font-weight: bold;
    color: white;
}

.icon-step {
    width: 100px;
    height: 100px;
    margin-right: 15px;
}

.custom-text-left {
    align-items: flex-start !important;
}

h2.display-4 {
    font-weight: bold;
}

.imagen-paso2 {
    height: 100%;
    width: 100%;
}

.btn-2 {
    background-color: #f77d31;
    border-color: #f77d31;
    border-radius: 20px;
    padding: 10px 20px;
    font-weight: bold;
    color: white;
}

.btn-2:hover {
    background-color: #e98c53;
    border-color: #da7c42;
    transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

.btn-2:focus {
    box-shadow: none;

}

.btn-link {
    color: #2ecc71;
    background-color: transparent;
    border: none;
    padding: 12px 24px;
    font-size: 22px;
    cursor: pointer;
}

.btn-link:hover {
    color: #1abc9c;
    text-decoration: underline;
}

form label {
    font-weight: bold;
}

.imagen-paso4 {
    height: 90%;
    width: 90%;
}

.row p {
    color: #a18d76;
}

/*******/

mat-grid-tile {
    border: 1px solid #eee;
}

.btn-remove-image {
    position: absolute;
    cursor: pointer;
    top: -10px;
    right: -10px;
    background-color: red;
    color: white;
    border-radius: 50%;
    width: 20px;
    height: auto;
    text-align: center;
}

.dropzone {
    height: 250px;
    min-width: 110px;
    display: table;
    background-color: #f8975b !important;
    width: 500px;
    border: dashed 2px #804b2a;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
}

.text-wrapper {
    display: table-cell;
    vertical-align: middle;
}

.centered {
    text-align: center;
}


.browse-button {
    color: black;
    cursor: pointer;
}

.category-container {
    width: 30%;
    align-items: center;
}

.main-content {
    align-items: center;
    display: grid;
}



.points-container {
    width: 800px;
    height: 400px;
    overflow-y: auto;
    background-color: #6b6464;
    
    border: 1px solid #ccc;
    
    border-radius: 10px;
    
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
   
    padding: 20px;
   
    margin-bottom: 30px;
}

.point-item {
    margin-bottom: 20px;
    margin-top: 20px;
    position: relative;
    background-color: transparent;
    
    border: 2px solid transparent;
   
    transition: background-color 0.3s ease, border-color 0.3s ease;
    
    padding: 10px;
   
    border-radius: 5px;
    
}

.point-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.point-name {
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 60px;
}


.point-item.selected {
    background-color: #413a3a;
    border-color: #666;
}

.image-container {
    width: 100%;
    height: 150px;
    /* Ajusta la altura de la imagen */
    overflow: hidden;
    padding: 10px;
    margin-bottom: 10px;
}

.image-container img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    /* Ajusta la imagen para que se adapte al contenedor */
}

.checkbox-container {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.checkbox-container input[type="checkbox"] {
    width: 20px;
    height: 20px;
    cursor: pointer;
}



.btn-primary:hover {
    background-color: #5c8eda;
    /* Color azul oscuro */
    border-color: #3f87f3;
    /* Color azul oscuro */
    transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

.btn-primary {
    background-color: #3498db;
    border-color: #3498db;
}

.btn-lg {
    padding: 15px 30px;
    font-size: 18px;
}

.btn-addCombo {
    background-color: #28a745; /* Color verde */
    border-color: #28a745;
    color: white; /* Texto blanco para mejor contraste */
    padding: 12px 24px;  /* Ajusta el relleno para hacerlo más grande */
  font-size: 1.25rem;  /* Aumenta el tamaño del texto */
  border-radius: 8px;  /* Opcional: puedes ajustar el borde redondeado */
  }
  
  .btn-addCombo:hover {
    background-color: #218838; /* Color verde más oscuro al hacer hover */
    border-color: #1e7e34;
  }

  .btn-addCombo:focus {
    outline: none; /* Elimina el borde azul */
    box-shadow: none; /* Elimina cualquier sombra que pueda aparecer */
}

/* ------------------------------------------------------------------------------------------------------------------------------- */
/* ESTILOS DE LA LISTA DE COMBOS SIN PROVEEDORES */
.combo-container {
    display: flex;
    flex-wrap: wrap;
  }
  
  .combo-item {
    flex: 0 0 calc(33.333% - 20px);
    margin: 10px;
    display: inline-block;
  }
  
  .combo-card {
    width: 350px;
    height: 560px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    position: relative;
    margin-bottom: 20px;

    /* Fondo azul con reflejo */
    background: linear-gradient(145deg, #0d47a1 60%, #ece4e4 50%);
    
    /* Sombra para darle profundidad */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: #fff; /* Texto en blanco para contraste */
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.combo-body {
    margin-top: -15px;
}

.combo-config {
    margin-top: 5px;
    display: flex;
    justify-content: flex-end; /* Alinea el botón a la derecha */
    margin-right: 5px;
    margin-bottom: 0px;
    position: relative; /* O puedes usar 'absolute' si lo prefieres */
    z-index: 10; /* Asegúrate de que este valor sea mayor que el de otros elementos superpuestos */
}

.combo-delete {
    margin-bottom: 10px;
    display: flex;
    justify-content: flex-end; /* Alinea el botón a la derecha */
    margin-right: 10px;
    
}


.card-title {
    color: white;
    text-shadow: 0px 0px 10px cyan,
                 0px 0px 20px cyan,
                 0px 0px 40px cyan,
                 0px 0px 80px cyan;
   font-size: 28px;
}

.combo-card img {
    width: 100%;

    height: 250px;

    object-fit: contain;

    border-radius: 10px 10px 0 0;

    margin-bottom: 20px;

}

.imagen-combo {
    display: block;

    height: 150px;

    width: 100%;

    object-fit: contain;

    margin: 0 auto;

}

.descripcion {
    height: 75px;

    overflow-y: auto;

}

.add-combo-container {
    background-color: #f0f0f0;
    /* Un tono de gris claro */
    border-radius: 15px;
    padding: 30px 20px;
    /* Aumentamos el padding vertical para dar más altura */
    margin-top: 30px;
    min-height: 150px;
    /* Establecemos una altura mínima */
}

.add-combo-text {
    color: #2ecc71;
    /* Un verde llamativo */
    font-size: 2.2rem;
    /* Ajustamos el tamaño de la fuente */
}

.btn-add-combo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: orange;
    color: white;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease;
}

.btn-add-combo:hover {
    background-color: darkorange;
}

.btn-add-combo svg {
    width: 60px;
    height: 60px;
}

.btn-edit,
.btn-editCombo {
    width: 3em; /* Ajusta el tamaño general del botón */
    height: 3em;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 0; /* Elimina los espacios internos del botón */
    border-radius: 50%; /* Si deseas que sea circular */
}

.btn-edit:focus,
.btn-editCombo:focus {
    outline: none; /* Elimina el borde azul */
    box-shadow: none; /* Elimina cualquier sombra que pueda aparecer */
}
/* ------------------------------------------------------------------------------------------------------------------------------- */




/* ------------------------------------------------------------------------------------------------------------------------------- */
/* ESTILOS DE LA LISTA DE COMBOS CON PROVEEDORES */
@media (min-width: 992px) {
    .proveedores-combos-container {
        display: flex;
        flex-wrap: nowrap;
        margin-bottom: 20px;
    }

    .proveedores-combos-container .col-lg-8 {
        flex: 0 0 60%;
        max-width: 60%;
    }

    .proveedores-combos-container .col-lg-4 {
        flex: 0 0 40%;
        max-width: 40%;
    }
}

.proveedores-combos-container .col-lg-8 {
    padding-right: 30px;
}

.proveedores-combos-container .col-lg-4 {
    padding-left: 30px;
}


.combos-proveedor-container {
    padding: 10px;
    background-color: white;
    border: 2px solid #b46363;
    border-radius: 15px;
    height: 350px; /* Ajusta este valor según tus necesidades */
    width: 100%;
    max-height: 70vh;
    overflow-y: auto;
    padding-right: 15px;
    padding-bottom: 20px;
    margin-top: 40px;
  }

  .combos-proveedor-content {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .combos-proveedor-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(175px, 1fr));
    gap: 20px;
  }
  
  .combo-proveedor-item {
    display: flex;
    justify-content: center;
  }
  
  .combo-proveedor-card {
    width: 205px;
    height: 305px;
    border: 2px solid #e0e0e0;
    border-radius: 15px;
    background: linear-gradient(145deg, #db6414 65%, #dac0c0 35%);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
  }
  
  .combo-proveedor-card:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    
  }
  
  .combo-proveedor-config {
    display: flex;
    justify-content: flex-end;
    padding: 5px;
  }
  
  .combo-proveedor-body {
    margin-top: -8px;
    flex-grow: 1;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .combo-proveedor-title {
    
    font-weight: bold;
    margin-bottom: 5px;
    text-align: center;
    color: white;
    text-shadow: 0px 0px 10px rgb(55, 0, 255),
                 0px 0px 20px rgb(55, 0, 255),
                 0px 0px 40px rgb(55, 0, 255),
                 0px 0px 80px rgb(55, 0, 255);
   font-size: 16px;
  }
  
  .combo-proveedor-body .combo-proveedor-descripcion {
    font-size: 12px;
    text-align: center;
    margin-bottom: 5px;
    color: #181717;
  }
  
  .combo-proveedor-imagen {
    width: 100%;
    height: 100px;
    object-fit: contain;
    margin-bottom: 10px;
  }
  
  .combo-proveedor-body .combo-proveedor-precio,
  .combo-proveedor-body .combo-proveedor-proveedor {
    font-size: 12px;
    margin: 2px 0;
    color: #050505;
  }
  
  .combo-proveedor-delete {
    display: flex;
    justify-content: flex-end;
    padding: 5px;
  }
  
  .btn-edit,
  .btn-deleteCombo {
    padding: 3px 6px;
    font-size: 12px;
  }

  .btn-editCombo{
    padding: 3px 6px;
    font-size: 10px;
  }

  .add-button-item {
    height: 305px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 200px; /* Ajusta según el tamaño de tus tarjetas de combo */
  }
  
  .btn-add-combo {
   
    gap: 8px;
  }

/* ------------------------------------------------------------------------------------------------------------------------------- */




/* ------------------------------------------------------------------------------------------------------------------------------- */
/* ESTILOS DE LA LISTA DE PROVEEDORES */

.providers-container {
  height: 300px;
  overflow-y: auto;
  padding-right: 10px;
  display: flex;
  flex-direction: column;
  

  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 4px;
  }

  &::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 4px;

    &:hover {
      background: #555;
    }
  }

  .provider-card {
    background: rgb(95, 94, 94);
    border-radius: 8px;
    padding: 1rem;
    margin-bottom: 0.75rem;
    margin-left: 50px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 1000px; /* Aumentar el ancho del contenedor */
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Distribuir filas de forma equitativa */
    position: relative;

    .provider-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 5px;

      .provider-logo {
        width: 100px;
        height: 100px;
        margin-right: 2rem;
        flex-shrink: 0;

        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
          border-radius: 50%;
        }
      }

      .provider-socialMedia {
        display: flex;
        gap: 0.5rem;
        flex-wrap: wrap;
        align-items: center; /* Alinea los íconos dentro del contenedor */
      
        /* Redes sociales */
        .social-links {
          display: flex;
          gap: 0.5rem;
      
          .social-btn {
            padding: 0.4rem;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: all 0.3s ease;
      
            svg {
              width: 20px;
              height: 20px;
              transition: transform 0.3s ease;
            }
      
            &.facebook {
              background: #1877f2;
              color: white;
              position: relative;
              overflow: hidden;
      
              &::before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background: #000;
                opacity: 0;
                transition: opacity 0.3s ease;
              }
      
              &:hover {
                transform: translateY(-2px);
      
                &::before {
                  opacity: 1;
                }
      
                svg {
                  transform: scale(1.1);
                }
              }
            }
      
            &.instagram {
              background: #e4405f;
              color: white;
              position: relative;
              overflow: hidden;
      
              &::before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background: #000;
                opacity: 0;
                transition: opacity 0.3s ease;
              }
      
              &:hover {
                transform: translateY(-2px);
      
                &::before {
                  opacity: 1;
                }
      
                svg {
                  transform: scale(1.1);
                }
              }
            }
      
            &:active {
              transform: translateY(0);
            }
          }
        }
      }
    }

    .provider-actions {
      display: flex;
        justify-content: center; /* Alinea los botones a la derecha */
        gap: 0.5rem; 
        flex-wrap: wrap;

      

      /* Botones de WhatsApp y Ver Catálogo */
      .contact-actions {
        display: flex;
        gap: 0.4rem;

       

        .catalog-btn,
        .contact-btn {
         
          font-family: inherit;
          display: flex;
          align-items: center;
          justify-content: center;
          line-height: 3.0em;
          margin: 20px;
          position: relative;
          cursor: pointer;
          overflow: hidden;
          border: 1px solid var(--color);
          transition: color 0.5s;
          z-index: 1;
        
          border-radius: 4px;
          
          color: var(--color);
          gap: 0.4rem;

          svg {
            width: 18px;
            height: 18px;
          }
        }

        .catalog-btn:before,
        .contact-btn:before {
          content: "";
          position: absolute;
          z-index: -1;
          background: var(--color);
          height: 150px;
          width: 200px;
          border-radius: 60%;
        }
        
        .catalog-btn:hover,
        .contact-btn:hover {
          color: #fff;
        }
        
        .catalog-btn:before,
        .contact-btn:before {
          top: 100%;
          left: 100%;
          transition: all 0.7s;
        }
        
        .catalog-btn:hover:before,
        .contact-btn:hover:before {
          top: -30px;
          left: -30px;
        }
        
        .catalog-btn:active:before {
          background: #3a0ca3;
          transition: background 0s;
        }

        .contact-btn:active::before {
          background: #25d366;
          transition: background 0s;
        }
        

        

        .contact-btn {
          --color: #1ddb63;
          padding: 13px 7px 13px 7px ;
          background-color: rgb(88, 79, 79);
          text-decoration: none;
        }
        .catalog-btn {
          --color: #560bad;
          background-color: rgb(88, 79, 79);
        }

        
      }
    }
  }
}



/* Estilos responsivos */
@media (max-width: 576px) {
  .providers-container {
    height: 500px;

    .provider-card {
      padding: 0.75rem;
      max-width: 100%; /* Aumentar ancho en pantallas pequeñas */

      .provider-header {
        .provider-logo {
          width: 32px;
          height: 32px;
        }

        .provider-name {
          font-size: 0.875rem;
        }
      }
    }
  }
}

/* Estilos PARA EL MODAL DEL CATALOGO */
.pdf-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.pdf-modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  width: 90%;
  height: 90%;
  position: relative;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  background: none;
  font-size: 24px;
  cursor: pointer;
  color: #666;
  padding: 5px;
  line-height: 1;
  transition: color 0.3s ease;
}

.close-btn:hover {
  color: #000;
}

iframe {
  width: 100%;
  height: calc(100% - 40px);
  margin-top: 20px;
  border: none;
}


/* ------------------------------------------------------------------------------------------------------------------------------- */




/* ------------------------------------------------------------------------------------------------------------------------------- */
/* PASO 6: ESTILOS PARA EL PREFIJO "S/" EN EL INPUT DE PRECIO */


.precio-input-container {
  position: relative;
}

.precio-input {
  padding-left: 45px !important; /* Espacio para el prefijo S/ */
}

.precio-input-container::before {
  content: "S/";
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 24px;
  color: #dde2e7;
  z-index: 1;
}

/* Eliminar las flechas del input number */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

/* Cambio de color del prefijo cuando el input está en focus */
.precio-input:focus + .precio-input-container::before,
.precio-input-container:focus-within::before {
    color: #121213; /* Color azul que coincide con el borde focus de Bootstrap */
}