h1.display-4 {
    font-weight: bold;
}

.step {
    margin-bottom: 20px;
}

.step h3 {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: left;
}

.step p {
    color: #a18d76;
}

.buttons-start {
    display: flex; /* Para alinear los elementos de manera horizontal */
    justify-content: space-between; /* Para colocar los botones en extremos opuestos */
    align-items: center; /* Centrar verticalmente los botones si tienen diferentes alturas */
    width: 100%; /* Asegurar que el contenedor ocupe todo el ancho disponible */
}

.btn-comenzar {
    background-color: #f77d31;
    border-color: #f77d31;
    border-radius: 20px;
    padding: 10px 20px;
    font-weight: bold;
    color: white;
}

.btn-cancel {
    background-color: #7e7671;
    border-color: #8f8e8d;
    border-radius: 20px;
    padding: 10px 20px;
    font-weight: bold;
    color: white;
}

.icon-step {
    width: 100px;
    height: 100px;
    margin-right: 15px;
}

.custom-text-left {
    align-items: flex-start !important;
}

h2.display-4{
    font-weight: bold;
}

.imagen-paso2{
    height: 100%;
    width: 100%;
}

.btn-2{
    background-color: #f77d31;
    border-color: #f77d31;
    border-radius: 20px;
    padding: 10px 20px;
    font-weight: bold;
    color: white;
}

form label {
    font-weight: bold;
}

.imagen-paso4{
    height: 90%;
    width: 90%;
}

.row p{
    color: #a18d76;
}

/*******/

mat-grid-tile{
    border: 1px solid #eee;
}

.btn-remove-image{
    position: absolute;
    cursor: pointer;
    top: -10px;
    right: -10px;
    background-color: red;
    color: white;
    border-radius: 50%;
    width: 20px;
    height: auto;
    text-align: center;
}

.dropzone{
    height: 160px;
    min-width: 110px;
    display: table;
    background-color: #f8975b !important;
    width: 300px;
    border: dashed 2px #804b2a;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
}

.text-wrapper{
    display: table-cell;
    vertical-align: middle;
}

.centered{
    text-align: center;
}


.browse-button{
    color: black;
    cursor: pointer;
}

.category-container {
    width: 30%;
    align-items: center;
}

.main-content {
    align-items: center;
    display: grid;
}
