@keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }


.logo-link {
    position: absolute;
    top: 20px;
    left: 62px;
    z-index: 3;
    text-decoration: none;
}

.logo {
    max-width: 100px;
    height: auto;
    cursor: pointer;
}
.payment-methods-container {
    width: 100%;
    max-width: 1200px;
    margin: 100px auto 0 auto;
    padding: 10px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    animation: fadeIn 0.7s ease-out forwards;
    position: relative;
    z-index: 1;
    min-height: 500px; 
    display: flex;
    flex-direction: column; 
    justify-content: space-between; 
}


.add-payment-options {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: flex-start; 
    
    
}


.payment-method-option {
    width: 100%;
    
    
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    
    
    position: relative;
    z-index: 1;
    
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    
}



.payment-method {
    padding: 20px;
    border: 1.5px solid #140d0d; 
    border-radius: 10px;
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    cursor: pointer;
}

h1 {
    display: flex;
    font-size: 22px;
    color: #070807;
    margin-bottom: 20px;
    margin-left: 0;
  }


  .payment-method-title {
    font-size: 18px;
    font-weight: bold;
    color: #070807;
    margin-bottom: 10px;
    text-align: center;
}

.payment-method-icons {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.method-icon {
    width: 20px;
    height: 20px;
   
}

.add-icon {
    width: 40px;
    height: 40px;
    
   
}

.header-container {
   
    
    margin-bottom: 20px; 
    border-bottom: 1px solid #332927;
    width: 100%;
}

.back-link {
    display: flex;
    align-items: center;
    font-size: 16px;
    color: #2e302e;
    text-decoration: none;
    margin-bottom: 10px;
    font-weight: bold;
    width: max-content;
}

.back-link i {
    margin-right: 8px; 
    font-size: 18px; 
}

.back-link:hover {
    color: #007bff;
}



/*MODAL*/

.modal {
  display: block; 
  position: fixed;
  z-index: 1000; 
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden; 
  background-color: rgba(0, 0, 0, 0.5); 
  opacity: 0; 
  visibility: hidden; 
  transition: opacity 0.3s ease, visibility 0.3s ease; 
  color: #000;
}

.modal-content {
  background-color: #fff;
  margin: auto;
  padding: 12px;
  border-radius: 10px;
  width: 90%;
  max-width: 410px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  transform: translateY(-50px);
  position: relative;
  top: -1%;
  transition: all 0.3s ease;
}

.modal.show {
  opacity: 1; 
  visibility: visible; 
}

.modal.show .modal-content {
  transform: scale(1); 
}





  /* Estilos del encabezado */
.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #E6E6E6;
  padding: 0 16px;
}

.modal-header h5 {
  font-size: 18px;
  color: #4a4a4a;
}

  
  .modal-body {
    margin-top: 10px;
  }
  
  .btn-close {
    background-color: rgb(180, 54, 54);
    border-radius: 50%;
    border: none;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    cursor: pointer;
    margin-bottom: 5px;
    outline: none;
}

.btn-close i {
  font-size: 13px; 
  color: white; 
  width: 16px;
  height: 16px;
  margin-top: 2px;
}

/* Estilos de la tarjeta */
.credit-card-preview {
  margin: 0 0 20px 0;
  
  background-color: #f9f9f9;
  border-radius: 10px;
  height: 180px;
  width: 100%;
  perspective: 1000px; 
  position: relative;
  
  
}

.card-front {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: -webkit-linear-gradient(0deg, #c7cbcf, #7d858d);
  width: 100%;
  height: 100%;
  border-radius: 10px;
  backface-visibility: hidden;
  transform-origin: 50% 50% 0;
  transition: all 1.2s;
  top: 0;
  left: 0;
  position: relative;
  padding: 20px;
  box-sizing: border-box;
  
  
}

.card-back {

  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: -webkit-linear-gradient(0deg, #c7cbcf, #7d858d);
  width: 100%;
  height: 100%;
  border-radius: 10px;
  backface-visibility: hidden;
  transform-origin: 50% 50% 0;
  transition: all 1.2s;
  top: 0;
  left: 0;
  position: absolute;
  padding: 20px;
}

.card-back::after {
  content: '';
  position: absolute;
  top: 20px; 
  left: 0;
  width: 100%;
  height: 40px; 
  background-color: #000; 
  
}

.card-front {
  transform: rotateY(0deg);
}

.card-back {
  transform: rotateY(180deg);
}

.credit-card-preview.flipped .card-front {
  transform: rotateY(-180deg);
}

.credit-card-preview.flipped .card-back {
  transform: rotateY(0deg);
}



.card-number {
  font-size: 18px;
  font-weight: bold;
  margin-right: 10px; 
  margin-bottom: 20px; 
  text-align: center; 
  color: #fff;
}

.card-chip {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 40px; 
}

.card-type {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 35px; 
}


.card-expiration {
  display: flex;
  align-items: center;
  font-size: 14px;
  position: absolute;
  bottom: 30px;
  right: 20px;
  color: #fff;
}

.valid-tru {
  font-size: 8px;
  margin-right: 10px; 
  width: 25px;
  color: #fff;
  position: absolute;
  top: -45px;
  left: -90px; 
}

.expiration-date {
  position: absolute;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  top: -45px;
  left: -55px; 
}


.card-cvv {
  position: absolute;
  right: 40px;
}

.cvv-title, .cvv-value {

  font-size: 15px;
  color: #fff;
  
}


.card-holder {
  position: absolute;
  bottom: 20px;
  left: 20px;
  font-size: 14px;
  font-weight: bold;
  white-space: nowrap; 
  overflow: hidden; 
  
  width: calc(100% - 40px);
  text-align: left;
  display: block; 
  margin: 0; 
  box-sizing: border-box; 
  color: #fff; 
}
  
  /* Estilos del formulario */
.form-group {
  margin-bottom: 15px;
}

.form-inline {
  display: flex;
  justify-content: space-between;
}

.form-inline .form-group {
  width: 48%;
}

.form-nameApe {
  display: flex;
  justify-content: space-between;
}

.form-nameApe .form-group {
  width: 48%;
}



.form-group label {
  display: block;
    text-align: left;
    font-weight: 600;
    margin-bottom: 8px;
    font-size: 12.5px
}

.form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #FF2D55;
  border-radius: 10px;
  font-size: 13px;
}

.form-group input.valid {
  border-color: black; 
}

.form-group input::placeholder {
  font-size: 13px; 
  color: #A0A0A0; 
  opacity: 1; 
}





/* Estilo del botón de envío */
.submit-btn {
  background-color: #00B761;
  color: #fff;
  border: none;
  padding: 15px;
  border-radius: 25px;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}

.submit-btn:hover {
  background-color: #008D49;
}





