<a routerLink="/" class="logo-link">
    <img src="https://static.vecteezy.com/system/resources/thumbnails/012/986/755/small/abstract-circle-logo-icon-free-png.png" alt="Logo de tu página" class="logo">
</a>
<div class="overlay"></div>
<div class="payment-methods-container">
    <h1><b>Agregar nuevo método de pago</b></h1>
    <div class="add-payment-options">
        <div class="payment-method-option">
            <div class="payment-method-title">
                <img src="https://images.rappi.pe/payment_methods/cc_round.png" alt="Tarjeta de Crédito o Débito" title="Tarjeta de Crédito o Débito" class="method-icon">
                Tarjeta de Crédito o Débito
            </div>
            <div class="payment-method-icons">
                <img src="https://images.rappi.pe/payment_methods/amex_round_100_2.png" alt="Amex" title="Amex" class="method-icon">
                <img src="https://images.rappi.pe/payment_methods/diners_round_100.png" alt="Diners" title="Diners" class="method-icon">
                <img src="https://images.rappi.pe/payment_methods/master_round_100_2.png" alt="Mastercard" title="Mastercard" class="method-icon">
                <img src="https://images.rappi.pe/payment_methods/visa_round_100_2.png" alt="Visa" title="Visa" class="method-icon">
            </div>
        </div>
        <!-- Aquí puedes añadir más opciones de métodos de pago si es necesario -->
    </div>
</div>

