<a routerLink="/" class="logo-link">
    <img src="assets/logoapp.png"
        alt="Logo de tu página" class="logo">
</a>
<div class="overlay"></div>
<div class="payment-methods-container">
    <h1><b>Métodos de Pago</b></h1>
    <div class="cards-container">

        <button class="add-payment-method" (click)="openAddPaymentMethod()">
            <i class="fas fa-credit-card"></i>
            <span class="button-text">Agregar método de pago</span>
        </button>

        <div class="card credit-card" *ngFor="let card of creditCards">
            <div class="card-content">
                <img [src]="card.imageUrl" alt="Credit Card" width="150px" height="100px"/>
                <p>{{ card.name }}</p>
                <p>{{ card.expiry }}</p>
            </div>
            <input type="radio" name="paymentMethod" />
        </div>
        <div class="card paypal">
            <img src="https://th.bing.com/th/id/R.c01292cdd7f51d3520c75031fc479c2b?rik=0qZxmR9AXGhBdw&pid=ImgRaw&r=0" alt="PayPal" width="150px" height="100px"/>
            <p>PayPal</p>
            <input type="radio" name="paymentMethod" />
        </div>
        <div class="card cash">
            <img src="cash-icon.png" alt="Cash" />
            <p>Efectivo</p>
            <input type="radio" name="paymentMethod" />
        </div>
    </div>
</div>