@keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }


.logo-link {
    position: absolute;
    top: 20px;
    left: 62px;
    z-index: 3;
    text-decoration: none;
}

.logo {
    max-width: 200px;
    height: auto;
    cursor: pointer;
}



.payment-methods-container {
    width: 100%;
    max-width: 1200px;
    margin: 100px auto 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    animation: fadeIn 0.7s ease-out forwards;
    position: relative;
    z-index: 1;
    min-height: 500px; 
    
    flex-direction: column; 
    justify-content: space-between; 
}
  
  h1 {
    font-size: 34px;
    color: #2ecc71;
    margin-bottom: 40px;
  }
  
  .cards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: flex-start; 
    padding-left: 50px;
}

.card {
    width: 250px; 
    background-color: #615e5e;
    border-radius: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    transition: transform 0.3s;
    min-height: 150px; 
    color: #f77d31;
}

.card:hover {
    transform: translateY(-5px);
}

.add-card {
    background-color: #e0f7fa;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.icon {
    font-size: 24px;
    color: #2ecc71;
}

.card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    text-align: center;
}

input[type="radio"] {
    align-self: center;
}

.add-payment-method {
    width: 250px; 
    background-color: #c8e7cc; 
    border: none;
    border-radius: 15px; 
    min-height: 150px; 
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    outline: none; 
    transition: background-color 0.3s;
}

.add-payment-method:hover {
    background-color: #27ae60;
    
    
}

.add-payment-method:hover .button-text {
    color: #ffffff; 
}




.fas.fa-credit-card {
    height: 40px;
    width: 40px;
    font-size: 24px; 
    color: rgb(64, 231, 87); 
    border-radius: 50%;
    box-shadow: 0 4px 20px 0 #000;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    flex-direction: row;
    transition: color 0.3s;
    background-color: #ffffff; 
    transition: background-color 0.3s;
    
}

.button-text {
    
    margin-top: 90px; 
    font-size: 14px; 
    color: #30a762; 
    text-align: center;
    position: absolute; 
   
    width: 200px; 
}