<a routerLink="/" class="logo-link">
    <img src="assets/logoapp.png"
        alt="Logo de tu página" class="logo">
</a>
<div class="overlay"></div>
<div class="payment-methods-container">
    <h1><b>Métodos de Pago</b></h1>
    <div class="cards-container">

        <button class="add-payment-method" (click)="openAddPaymentMethod()">
            <i class="fas fa-credit-card"></i>
            <span class="button-text">Agregar método de pago</span>
        </button>

        <div class="card credit-card" *ngFor="let tarjeta of tarjetas">
            <div class="card-content">
                <img src="assets/visa-icon-11679.png" alt="Credit Card" width="150px" height="150px"/>
                <p>{{ tarjeta.nombreTitular }} {{ tarjeta.apellidoTitular }}</p>
                <p>{{ tarjeta.fechaExpiracion }}</p>
            </div>
            <input type="radio" name="paymentMethod" />
        </div>
        
    </div>
</div>