<app-navbar></app-navbar>

<main class="compra-evento-container">
    <div class="evento-info">
        <button class="btn-atras" routerLink="/eventDetail">
            <i class="fas fa-arrow-left"></i> Atrás
        </button>
        <h1>Añadimientos</h1>
    </div>

    <div class="contenedor-general">
        <div class="lugar-info">
            <img src="https://cdn.joinnus.com/user/3585761/TcS696jHKBRURSk.png" alt="Imagen del lugar">
            <div>
                <p><b>2DO ANIVERSARIO VALLENATO FEST</b></p>
            </div>
        </div>

        <div class="contenedor-principal">
            <div class="categoria-compra">
                <button class="categoria active">PROMOCIONAL</button>
                <button class="categoria">COMBOS</button>
                <button class="categoria">SOCIO</button>
                <button class="categoria">CANCHITA / HD / NACHOS</button>
                <button class="categoria">BEBIDAS</button>
                <button class="categoria">GOLOSINAS</button>
                <button class="categoria">POR TIEMPO LIMITADO</button>
            </div>

            <div class="compra-options">
                <div class="opcion">
                    <img src="https://via.placeholder.com/150" alt="Combo 1">
                    <h3>COMBO 2 SALADO + 2 KIT KAT OL</h3>
                    <p>1 Canchita Gigante (Salado) + 2 Bebidas (32oz) + 2 KIT KAT.</p>
                    <p>S/ 58.00</p>
                    <div class="cantidad">
                        <button>-</button>
                        <span>0</span>
                        <button>+</button>
                    </div>
                </div>
                <div class="opcion">
                    <img src="https://via.placeholder.com/150" alt="Combo 2">
                    <h3>COMBO 2 DULCE + 2 KIT KAT OL</h3>
                    <p>1 Canchita Gigante (Dulce) + 2 Bebidas (32oz) + 2 KIT KAT.</p>
                    <p>S/ 60.00</p>
                    <div class="cantidad">
                        <button>-</button>
                        <span>0</span>
                        <button>+</button>
                    </div>
                </div>
                <div class="opcion">
                    <img src="https://via.placeholder.com/150" alt="Combo 3">
                    <h3>COMBO 2 MIX + 2 KIT KAT OL</h3>
                    <p>1 Canchita Gigante (Mix) + 2 Bebidas (32oz) + 2 KIT KAT.</p>
                    <p>S/ 61.00</p>
                    <div class="cantidad">
                        <button>-</button>
                        <span>0</span>
                        <button>+</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <button class="btn-compra">Continuar comprando</button>
</main>

<app-footer></app-footer>
