<app-custom-navbar></app-custom-navbar>

<main class="compra-evento-container">
    <div class="evento-info">
        <button class="btn-atras" routerLink="/eventDetail">
            <i class="fas fa-arrow-left"></i> Atrás
        </button>
        <h1>Comprar Entrada</h1>
    </div>

    <div class="contenedor-general">
        <div class="lugar-info">
            <img src="https://shop.feidofficial.com/cdn/shop/files/DownloadDigitalCover_Feid_Vol1Mor_1.png?v=1682704845" alt="Imagen del lugar">
            <div>
                <p><b>EVENTO PRUEBA</b></p>
            </div>
        </div>

        <div class="contenedor-principal">
            <div class="categoria-compra">
                <button class="categoria active">ENTRADAS</button>
            </div>

            <div class="compra-options">
                <div class="opcion">
                    <img src="https://th.bing.com/th/id/R.6f9525f5a79159ce43b6b4fb81615b0f?rik=ep17tgMWWwPPQQ&pid=ImgRaw&r=0" alt="entrada 1" height="150px" width="150px">
                    <h3>ENTRADA GENERAL</h3>
                    <p>Acceso a todas las actividades del evento.</p>
                    <p>S/ 58.00</p>

                    <div class="cantidad">
                        <button (click)="cambiarCantidad(-1)" [disabled]="cantidad <= 0">-</button>
                        <span>{{ cantidad }}</span>
                        <button (click)="cambiarCantidad(1)">+</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <button class="btn-compra">Continuar comprando</button>
</main>

<app-footer></app-footer>
