<app-navbar></app-navbar>
<div class="container my-5" id="main-container">
    <h1>Peticiones de Ticket</h1>

    <table class="table table-dark table-striped mt-5">
        <thead>
            <tr>
                <th>Evento</th>
                <th>Comprador</th>
                <th>Cantidad</th>
                <th>Precio Total</th>
                <th>Fecha de Solicitud</th>
                <th>Estado de la Compra</th>
                <th>Captura del pago</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Evento 1</td>
                <td>Nicolas Segovia</td>
                <td>2</td>
                <td>S/50</td>
                <td>08/10/2024</td>
                <td>Pendiente</td>
                <td>
                    <a class="btn btn-success">
                        <i class="fa-solid fa-image fa-2x"></i>
                    </a>
                </td>
                <td>
                    <a class="btn btn-warning mx-3">Confirmar</a>
                    <a class="btn btn-danger">Declinar</a>
                </td>
            </tr>

            <tr>
                <td>Evento 1</td>
                <td>Nicolas Segovia</td>
                <td>2</td>
                <td>S/50</td>
                <td>08/10/2024</td>
                <td>Pendiente</td>
                <td>
                    <a class="btn btn-success">
                        <i class="fa-solid fa-image fa-2x"></i>
                    </a>
                </td>
                <td>
                    <a class="btn btn-warning mx-3">Confirmar</a>
                    <a class="btn btn-danger">Declinar</a>
                </td>
            </tr>

            <tr>
                <td>Evento 1</td>
                <td>Nicolas Segovia</td>
                <td>2</td>
                <td>S/50</td>
                <td>08/10/2024</td>
                <td>Pendiente</td>
                <td>
                    <a class="btn btn-success">
                        <i class="fa-solid fa-image fa-2x"></i>
                    </a>
                </td>
                <td>
                    <a class="btn btn-warning mx-3">Confirmar</a>
                    <a class="btn btn-danger">Declinar</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
