<app-navbar></app-navbar>
<div class="container my-5">
    <h1>Bievenido Administrador</h1>
    <div class="row p-5">
        <div class="col-md-3">
            <a routerLink="/viewInstitutions" style="text-decoration: none;">
                <div class="card" style="background-color: black;">
                    <div class="card-body text-center" style="color: white;">
                        <i class="fa-solid fa-landmark fa-3x"></i><br>
                        <h4>Mantenimiento Instituciones</h4>
                        ------------------
                    </div>
                </div>
            </a>
        </div>

        <div class="col-md-3">
            <a routerLink="/viewCategories" style="text-decoration: none;">
                <div class="card" style="background-color: black;">
                    <div class="card-body text-center" style="color: white;">
                        <i class="fas fa-tags fa-3x"></i><br>
                        <h4>Mantenimiento Categorias</h4>
                        ------------------
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
