<div class="own-container">
    <h1>¿Cuál es tu Point?</h1>



    <div class="institutions-wrapper">
        <ngx-slick-carousel #slickModal="slick-carousel" class="carousel" [config]="slideConfig">

            <div ngxSlickItem *ngFor="let institution of institutions" class="institution">
                <a draggable="false" 
                (mousedown)="onMouseDown($event)" 
                (mousemove)="onMouseMove($event)"
                    
                    (mouseleave)="onMouseLeave()" 
                    (click)="handleClick($event, institution)"
                    (init)="slickInit($event)"
                    (breakpoint)="breakpoint($event)" (afterChange)="afterChange($event)"
                    (beforeChange)="beforeChange($event)">
                    <div class="image-container">
                        <img [src]="institution.imagenUrl" [alt]="institution.nombre" loading="lazy"
                            class="d-block w-100" draggable="false">
                    </div>
                    <p draggable="false">{{ institution.nombre }}</p>
                </a>
            </div>
        </ngx-slick-carousel>


    </div>


    <div class="admin-buttons" *ngIf="isAdmin()">
        <div class="config-button">
            <button id="admin-config" routerLink="/viewInstitutions">Administrar Points</button>
        </div>
        <div class="add-button">
            <button id="add-point" routerLink="/viewInstitutions"><i class="fas fa-plus"></i></button>
            <p>Añadir Point</p>
        </div>
    </div>



</div>
<app-footer></app-footer>