<div class="evento-container">
    <div class="evento-info">
        <img [src]="evento?.eventoImagenes[0].url" alt="evento">
        <a [routerLink]="['/eventList', institucionId]" class="btn-volver">
            <i class="fas fa-arrow-left"></i>
        </a>
        <h2>{{ evento?.titulo }}</h2>
    </div>
    <div class="evento-contenido">
        <div class="evento-descripcion">
            <h2><strong>Información general</strong></h2><br>
            <p>{{ evento?.descripcion }}</p><br>
            <h2><strong>Categorias</strong></h2><br>
            <div class="categorias-container">
                <mat-chip-listbox>
                    <mat-chip color="accent" *ngFor="let categoria of evento.categorias">{{ categoria.nombre }}</mat-chip>
                </mat-chip-listbox>
            </div>
        </div>
        <div class="evento-adicionales">
            <div class="evento-datos">
                <p><strong>Fecha:</strong> {{ evento?.fecha | date:'EEEE dd \'de\' MMMM'}}</p>
                <p><strong>Hora:</strong> {{ evento?.hora }}</p>
                <p><strong>Precio:</strong> S/{{ evento?.precioEntrada }}</p>
                <p><strong>Organizador:</strong> {{ evento?.organizador.nombre }} {{evento?.organizador.apellido}}</p>
            </div>
            <div id="evento-mapa-container">
                <div class="evento-mapa">
                    <h3>Ubicación</h3>
                    <div class="card-body py-2">
                        <!--<h5 class="mb-1 text-capitalize"><b>{{ ubicacion }}</b></h5>-->
                        <h6>{{ evento?.direccion }}</h6>
                        <p class="small mb-0"><strong></strong></p>
                    </div>
                    <a href="{{ evento?.direccionUrl }}" target="_blank" rel="noopener noreferrer" class="maps-preview">
                        <img src="https://cdn.joinnus.com/img/maps-preview.png" alt="map" class="img-fluid">
                        <span class="btn btn-primary btn-sm">Ver mapa</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="eventos-similares">
        <h3>Eventos Similares</h3>
        <a *ngFor="let evento of eventosSimilares" [href]="evento.url" class="evento-similar-link">
            <div class="evento-similar">
                <div class="card">
                    <img [src]="evento.imagen" class="card-img-top" alt="Evento Similar">
                    <div class="card-body">
                        <h5 class="card-title">{{ evento.nombre }}</h5>
                        <p class="card-text"><i class="fas fa-calendar-alt"></i> {{ evento.fecha }}</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <button class="btn btn-success btn-comprar">Comprar</button>
                            <p class="card-text">Desde S/ {{ evento.precio }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="barra-fija">
        <span><b>{{ evento?.titulo | uppercase }}</b></span>
        <button class="btn-comprar" routerLink="/eventBuys"><b>Comprar ahora</b></button>
    </div>
</div>