<div class="evento-container">
    <div class="evento-info">
        <img [src]="evento?.eventoImagenes[0].url" alt="evento">
        <a [routerLink]="['/eventList', institucionId]" class="btn-volver">
            <i class="fas fa-arrow-left"></i>
        </a>
        <h2>{{ evento?.titulo }}</h2>
    </div>
    <div class="evento-contenido">
        <div class="evento-descripcion">
            <h2><strong>Información general</strong></h2><br>
            <p>{{ evento?.descripcion }}</p><br>

            <h2><strong>Categorias</strong></h2><br>
            <div class="categorias-container">
                <mat-chip-listbox>
                    <mat-chip color="accent" *ngFor="let categoria of evento?.categorias">{{ categoria.nombre }}</mat-chip>
                </mat-chip-listbox>
            </div>

            <!-- Sección de Código Autogenerado (Visible solo para el creador) -->
            <div *ngIf="esCreador" class="codigoEvento-container mt-5">
                <h2>
                    <strong>Código Autogenerado</strong>
                    <i class="fa-solid fa-circle-info mx-3" title="El codigo solo es visible para el creador del evento"></i>
                </h2>
                
                <div class="codigo-container" (click)="copiarCodigo(evento?.codigoAutogenerado)">
                    <p style="cursor: pointer;">{{ evento?.codigoAutogenerado }}</p>
                </div>
            </div>
        </div>
        <div class="evento-adicionales">
            <div class="evento-datos">
                <p><strong>Fecha:</strong> {{ evento?.fecha | date:'EEEE dd \'de\' MMMM'}}</p>
                <p><strong>Hora:</strong> {{ evento?.hora }}</p>
                <p><strong>Precio:</strong> S/{{ evento?.precioEntrada }}</p>
                <p><strong>Organizador:</strong> {{ evento?.organizador.nombre }} {{evento?.organizador.apellido}}</p>
            </div>
            <div id="evento-mapa-container">
                <div class="evento-mapa">
                    <h3>Ubicación</h3>
                    <div class="card-body py-2">
                        <!--<h5 class="mb-1 text-capitalize"><b>{{ ubicacion }}</b></h5>-->
                        <h6>{{ evento?.direccion }}</h6>
                        <p class="small mb-0"><strong></strong></p>
                    </div>
                    <a href="{{ evento?.direccionUrl }}" target="_blank" rel="noopener noreferrer" class="maps-preview">
                        <img src="https://cdn.joinnus.com/img/maps-preview.png" alt="map" class="img-fluid">
                        <span class="btn btn-primary btn-sm">Ver mapa</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="eventos-similares">
        <h3>Eventos Similares</h3>
        <a *ngFor="let eventos of eventosSimilares | slice:0:3 " [routerLink]="['/eventDetail', eventos.id]" [queryParams]="{institucionId: institucionId}" class="evento-similar-link">
            <div class="evento-similar">
                <div class="card">
                    <img [src]="eventos.eventoImagenes[0].url" class="card-img-top" alt="Evento Similar">
                    <div class="card-body">
                        <h5 class="card-title">{{ eventos.titulo }}</h5>
                        <p class="card-text"><i class="fas fa-calendar-alt"></i> {{ eventos.fecha | date:'EEEE dd \'de\' MMMM' }}</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <button class="btn btn-success btn-comprar">Comprar</button>
                            <p class="card-text">Desde S/ {{ eventos.precioEntrada }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="barra-fija">
        <span><b>{{ evento?.titulo | uppercase }}</b></span>
        <button class="action-button btn-comprar" [disabled]="esCreador" [routerLink]="['/eventBuys']" [queryParams]="{ eventoId: evento.id }">
            <b>Comprar ahora</b>
        </button>
    </div>
</div>