.table{
    background-color: #221f1f !important;
}

.tabla tbody tr td{
    color: aliceblue;
}

.boton-añadir{
    color: white;
    text-align: left;
}

img{
    width: 65px; 
    height: 65px;
}

.arrow-icon {
    opacity: 0; /* Oculta la flecha por defecto */
    transition: opacity 0.3s ease; /* Animación suave para mostrar la flecha */
}

.arrow-cell:hover .arrow-icon {
    opacity: 1; /* Muestra la flecha cuando el cursor está sobre el td */
}

.arrow-cell svg:hover{
    fill: #f77d31;
}

.modal-content{
    background: rgba(0, 0, 0);
}

.btn-close{
    background-color: white;
}

.modal-img img{
    width: 60%;
    height: 60%;;
    margin-bottom: 10px;
    margin-top: 10px;
}

.modal-body svg{
    height: 100px;
    width: 100px;
}

.app-icon {
    position: absolute;
    top: -30px;
    left: -100px;
    width: 100px;
    height: 100px;
    object-fit: cover;
}