<app-organizer-navbar></app-organizer-navbar>

<div class="container my-5">
    <h2 style="text-align: left;">Tus Eventos</h2>

    <table class="table table-dark table-hover table-borderless my-5 tabla">
        <thead>
            <tr>
                <th scope="col" style="text-align: left;">Evento</th>
                <th scope="col">Ubicacion</th>
                <th scope="col">Estado</th>
                <th scope="col"></th>
            </tr>
            <tr>
                <th colspan="4">
                    <div style="border-bottom: 1px solid white;"></div>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let evento of eventos" class="arrow-cell">
                <td style="text-align: left;">
                    <a [routerLink]="['/editMyEvent', evento.id]" style="text-decoration: none; color: inherit; display: block; width: 100%; height: 100%;">
                        <img [src]="evento.eventoImagenes[0].url" class="mx-3 rounded">{{ evento.titulo }}
                    </a>
                </td>
                <td>
                    <a [routerLink]="['/editMyEvent', evento.id]" style="text-decoration: none; color: inherit; display: block; width: 100%; height: 100%;">
                        {{ evento.direccion }}
                    </a>
                </td>
                <td>
                    <a [routerLink]="['/editMyEvent', evento.id]" style="text-decoration: none; color: inherit; display: block; width: 100%; height: 100%;">
                        <i class="fa-solid fa-circle mx-3" style="color: green;"></i>Publicado
                    </a>
                </td>
                <td>
                    <a [routerLink]="['/editMyEvent', evento.id]" style="text-decoration: none; display: block; width: 100%; height: 100%;">
                        <i class="fa-solid fa-angle-right fa-lg arrow-icon" style="color: #ffffff;"></i>
                    </a>
                </td>
                <td (click)="abrirModal(evento)">
                    <a style="text-decoration: none; display: block; width: 100%; height: 100%; cursor: pointer;">
                        <svg xmlns="http://www.w3.org/2000/svg" height="35px" viewBox="0 -960 960 960" width="35px" fill="#e8eaed">
                            <path d="m456-200 174-340H510v-220L330-420h126v220Zm24 120q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Zm0-80q134 0 227-93t93-227q0-134-93-227t-227-93q-134 0-227 93t-93 227q0 134 93 227t227 93Zm0-320Z"/>
                        </svg> 
                    </a>
                </td>
            </tr>

            <!-- Notificacion for no Eventos -->
            <div *ngIf="eventos.length == 0" class="col-lg-12 col-md-12 col-xl-12">
                <div class="alert alert-info" role="alert">
                    <h4 class="alert-heading">NO HAS CREADO EVENTOS AUN!</h4>
                    <p>Crea un nuevo evento presionando el boton de abajo</p>
                </div>
            </div>

            <div class="my 5 boton-añadir">
                <a routerLink="/addNewEvent" class="btn">
                    <svg xmlns="http://www.w3.org/2000/svg" height="65" width="65" class="mx-3" viewBox="0 0 448 512"><!--!Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path fill="#ffffff" d="M64 32C28.7 32 0 60.7 0 96L0 416c0 35.3 28.7 64 64 64l320 0c35.3 0 64-28.7 64-64l0-320c0-35.3-28.7-64-64-64L64 32zM200 344l0-64-64 0c-13.3 0-24-10.7-24-24s10.7-24 24-24l64 0 0-64c0-13.3 10.7-24 24-24s24 10.7 24 24l0 64 64 0c13.3 0 24 10.7 24 24s-10.7 24-24 24l-64 0 0 64c0 13.3-10.7 24-24 24s-24-10.7-24-24z"/></svg>
                </a>
            </div>
        </tbody>
    </table>

    <!-- Modal Boost -->
    <div class="modal fade boost-modal" id="promoteModal" tabindex="-1" aria-labelledby="promoteModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <img src="assets/iconoapp.png" alt="Icono de la aplicación" class="app-icon">
                <div class="modal-header">
                    <h5 class="modal-title" id="promoteModalLabel">
                        {{ paso === 1 ? 'Promociona tu evento: ' + (eventoSeleccionado?.titulo || '') : 'Sube tu comprobante' }}
                    </h5>
                    
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" [ngSwitch]="paso">
                    <!-- Paso 1 -->
                    <div *ngSwitchCase="1" class="text-center">
                        <svg xmlns="http://www.w3.org/2000/svg" height="50px" viewBox="0 -960 960 960" width="35px" fill="#4caf50">
                            <path d="m456-200 174-340H510v-220L330-420h126v220Zm24 120q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Zm0-80q134 0 227-93t93-227q0-134-93-227t-227-93q-134 0-227 93t-93 227q0 134 93 227t227 93Zm0-320Z"/>
                        </svg> 
                        <p class="mt-3">Destaca tu evento para aumentar su visibilidad.</p>
                        <button class="btn btn-success mt-3" (click)="cambiarPaso(2)">Comprar</button>
                    </div>
    
                    <!-- Paso 2 -->
                    <div *ngSwitchCase="2" class="p-3">
                        <div class="d-flex justify-content-between align-items-start mb-3 modal-img">
                            <img src="assets/yapeqr.png" alt="QR para Pago" class="img-fluid">
                            <div class="ms-3">
                                <p><strong>Nombre titular:</strong> Juan Prueba</p>
                                <p><strong>Número de teléfono:</strong> 987987987</p>
                                <p><strong>Monto a pagar:</strong> S/ 100.00</p>
                            </div>
                        </div>
    
                        <div class="mb-3">
                            <label for="comprobantePago" class="form-label">Subir comprobante de pago:</label>
                            <input type="file" id="comprobantePago" class="form-control" (change)="onFileSelected($event)">
                        </div>
    
                        <div class="d-flex justify-content-end mt-3">
                            <button class="btn btn-primary me-2" (click)="enviarPago()">Enviar pago</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>