.table{
    background-color: #221f1f !important;
}

.tabla tbody tr td{
    color: aliceblue;
}

.boton-añadir{
    color: white;
    text-align: left;
}

img{
    width: 65px; 
    height: 65px;
}

.arrow-icon {
    opacity: 0; /* Oculta la flecha por defecto */
    transition: opacity 0.3s ease; /* Animación suave para mostrar la flecha */
}

.arrow-cell:hover .arrow-icon {
    opacity: 1; /* Muestra la flecha cuando el cursor está sobre el td */
}