@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

:host {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: "Open Sans", sans-serif;
    color: white;
    position: relative;
    overflow: hidden;
    background-image: url('https://img.freepik.com/fotos-premium/grupo-personas-fotografiando-concierto-musica_1048944-2138026.jpg?w=740');
    background-size: cover;
    background-position: center;
}

.logo-link {
    position: absolute;
    top: 20px;
    left: 180px;
    z-index: 3;
    text-decoration: none;
}

.logo {
    max-width: 100px;
    height: auto;
    cursor: pointer;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.general-container {
    position: relative;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 60px;
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    max-width: 440px;
    width: 100%;
    height: 85%;
    flex-direction: column;
    margin-top: 70px;
    animation: fadeIn 0.5s ease-in-out;
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-form h2 {
    align-self: flex-start;
    margin-bottom: 30px;
    font-size: 32px;
}

.input-group {
    position: relative;
    width: 100%;
    margin-bottom: 20px;
}



.input-group input:focus {
    border-color: rgb(219, 221, 223);
    outline: none;
}

.input-group input:focus + label,
.input-group input.filled + label,
.input-group input:not(:placeholder-shown) + label {
    top: 5px;
    font-size: 12px;
    color: #ada9aa;
}

.input-group label {
    position: absolute;
    top: 15px;
    left: 14.5px;
    color: rgba(226, 218, 218, 0.5);
    font-size: 15px;
    pointer-events: none;
    transition: all 0.3s ease;
}

.input-group input::placeholder {
    opacity: 0;
}

.validation-message {
    display: none;
    color: rgba(255, 0, 0, 0.8);
    display: flex;
    align-items: center;
    margin-top: 10px;
    font-size: 12px;
}

.validation-message svg {
    margin-right: 5px;
}

.login-btn {
    background-color: #f77d31;
    color: white;
    padding: 15px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
    margin-top: 10px;
}

.login-btn:hover {
    background-color: #bb5d22;
}

.login-btn:active,
.login-btn:focus {
    background-color: rgba(255, 0, 0, 0.5);
    transition: background-color 0.3s ease;
    outline: none;
    box-shadow: none;
}

.new-to-site {
    margin-top: 20px;
    color: rgba(219, 221, 223, 0.8);
}

.new-to-site a {
    color: rgb(219, 221, 223);
    text-decoration: none;
    transition: color 0.3s ease;
}

.new-to-site a:hover {
    color: white;
}
