<app-navbar></app-navbar>


<div class="container my-5">
    <h2 style="text-align: left;">Tus Torneos</h2>

    <table class="tabla">
        <thead>
            <tr>
                <th scope="col" style="text-align: left;">Evento</th>
                <th scope="col">Ubicacion</th>
                <th scope="col">Tipo</th>
                <th scope="col">Inicio</th>
                <th scope="col">Duración</th>
                <th scope="col">Estado</th>
            </tr>
        </thead>
        <tbody>
            <tr class="arrow-cell">
                <td style="text-align: left;"><img src="evento.eventoImagenes.url" class="mx-3 rounded"></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="icon-arrow">
                    <i class="fa-solid fa-angle-right fa-lg arrow-icon" style="color: #ffffff;"></i>
                </td>
                <td class="icon-svg">
                    <svg xmlns="http://www.w3.org/2000/svg" height="35px" viewBox="0 -960 960 960" width="35px" fill="#e8eaed">
                        <path d="m456-200 174-340H510v-220L330-420h126v220Zm24 120q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Zm0-80q134 0 227-93t93-227q0-134-93-227t-227-93q-134 0-227 93t-93 227q0 134 93 227t227 93Zm0-320Z"/>
                    </svg>
                </td>
                
            </tr>
        </tbody>


        <div class="my 5 boton-añadir">
            <a routerLink="/addNewTournament" class="btn">
                <svg xmlns="http://www.w3.org/2000/svg" height="65" width="65" class="mx-3" viewBox="0 0 448 512">
                    <path fill="#ffffff" d="M64 32C28.7 32 0 60.7 0 96L0 416c0 35.3 28.7 64 64 64l320 0c35.3 0 64-28.7 64-64l0-320c0-35.3-28.7-64-64-64L64 32zM200 344l0-64-64 0c-13.3 0-24-10.7-24-24s10.7-24 24-24l64 0 0-64c0-13.3 10.7-24 24-24s24 10.7 24 24l0 64 64 0c13.3 0 24 10.7 24 24s-10.7 24-24 24l-64 0 0 64c0 13.3-10.7 24-24 24s-24-10.7-24-24z"/>
                </svg>
            </a>
        </div>
    </table>
</div>
