
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


:host {
    background-image: url('https://img.freepik.com/fotos-premium/grupo-personas-fotografiando-concierto-musica_1048944-2138026.jpg?w=740');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150vh;
    margin: 0;
    font-family: "Open Sans", sans-serif;
    color: white;
    position: relative;
    overflow: hidden;
    overflow-y: auto;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.general-container {
    position: relative;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 60px;
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    max-width: 440px;
    width: 100%;
    height: auto;
    flex-direction: column;
    animation: fadeIn 0.5s ease-in-out;
    max-height: 150vh;
}

.register-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5px;
}

.logo-container img {
    max-width: 100px;
    height: auto;
}

.register-text {
    text-align: center;
    margin-top: 10px;
    font-size: 16px;
    color: rgba(226, 218, 218, 0.7);
}

.register-form h2 {
    align-self: flex-start;
    margin-bottom: 30px;
    font-size: 32px;
}

.separator {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid rgba(107, 105, 105, 0.5);
    line-height: 0.1em;
    margin: 10px 0 20px;
    color: rgba(107, 105, 105, 0.7);
}

.separator span {
    background: rgba(0, 0, 0, 0.7);
    padding: 0 10px;
}

.input-group {
    position: relative;
    width: 100%;
    margin-bottom: 20px;
}


.input-group input:focus {
    border-color: rgb(219, 221, 223);
    outline: none;
}



.input-group input.filled + label {
    top: 5px;
    font-size: 12px;
    color: #ada9aa;
}

.input-group label {
    position: absolute;
    top: 15px;
    left: 14.5px;
    color: rgba(226, 218, 218, 0.5);
    font-size: 15px;
    pointer-events: none;
    transition: all 0.3s ease;
}

.input-group input:focus + label,
.input-group input:not(:placeholder-shown) + label {
    top: 5px;
    font-size: 12px;
    color: #ada9aa;
}

.input-group input::placeholder {
    opacity: 0;
}

.validation-message {
    display: none;
    color: red;
    margin-top: 5px;
    font-size: 12px;
    display: flex;
    align-items: center;
}

.validation-message svg {
    margin-right: 5px;
}

.register-btn {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #e50914;
    color: white;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 20px;
    transition: background-color 0.3s ease;
    outline: none;
}

.register-btn:hover {
    background-color: rgba(255, 0, 0, 0.7);
}

.register-btn:active,
.register-btn:focus {
    background-color: rgba(255, 0, 0, 0.5);
    transition: background-color 0.3s ease;
    outline: none;
    box-shadow: none;
}

.new-to-site p {
    color: #b6b0b0;
}

.terms {
    text-align: center;
    margin-top: 20px;
    font-size: 12px;
    color: rgba(226, 218, 218, 0.5);
}

.terms a {
    color: rgba(226, 218, 218, 0.9);
    text-decoration: none;
}

/* Ocultar el formato de fecha predeterminado en el campo de fecha */
input[type="date"]::-webkit-datetime-edit {
    color: transparent;
}

/* Mostrar el texto del campo de fecha cuando el usuario selecciona una fecha */
input[type="date"]:focus::-webkit-datetime-edit,
input[type="date"]:valid::-webkit-datetime-edit {
    color: #fff; /* Color del texto seleccionado */
}

/* Cambiar el color del icono del selector de fechas */
input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(1); /* Cambia el color a blanco */
}

/* Para otros navegadores */
input[type="date"]::-moz-placeholder {
    color: transparent;
}

input[type="date"]::-ms-input-placeholder {
    color: transparent;
}