<div class="container" *ngIf="step == 1">
    <div class="row">
        <div class="col-md-6 d-flex align-items-center justify-content-center vh-90">
            <h1 class="display-4">Crea tu Torneo <br> perfecto</h1>
        </div>
        <div class="col-md-6 my-3">
            <div class="step mt-5">
                <div class="d-flex align-items-center">
                    <img src="https://cdn-icons-png.freepik.com/512/4029/4029050.png" alt="Icono de notas"
                        class="icon-step">
                    <div>
                        <h3>1. Describe tu torneo</h3>
                        <p>Comparte algunos datos básicos, un título, una descripcion y el tipo de torneo.</p>
                    </div>
                </div>
            </div>
            <div style="border-bottom: 1px solid rgb(77, 75, 75);"></div>
            <div class="step mt-5">
                <div class="d-flex align-items-center">
                    <img src="https://cdn4.iconfinder.com/data/icons/soccer-filled-line/550/soccer-03-512.png"
                        alt="Icono de notas" class="icon-step">
                    <div>
                        <h3><span>2.</span> Define la cantidad de participantes</h3>
                        <p>Decide que tan grande quieres que sea tu torneo definiendo la cantidad de jugadores o equipos
                            que se podrán inscribir.</p>
                    </div>
                </div>
            </div>
            <div style="border-bottom: 1px solid rgb(77, 75, 75);"></div>
            <div class="step mt-5">
                <div class="d-flex align-items-center">
                    <img src="https://cdn-icons-png.flaticon.com/512/4578/4578995.png" alt="Icono de notas"
                        class="icon-step">
                    <div>
                        <h3><span>3.</span> Determina la duración del torneo</h3>
                        <p>Limita el tiempo que tienen los usuarios para poder inscribirse al torneo y la duración que
                            tendra este al estar activo.</p>
                    </div>
                </div>
            </div>
            <div style="border-bottom: 1px solid rgb(77, 75, 75);"></div>
            <div class="step mt-5">
                <div class="d-flex align-items-center">
                    <img src="https://cdn-icons-png.flaticon.com/512/1040/1040241.png" alt="Icono de notas"
                        class="icon-step">
                    <div>
                        <h3><span>4.</span>Hazlo destacar</h3>
                        <p>Agrega una foto, la ubicación, fecha y hora en la que se realizará tu evento.</p>
                    </div>
                </div>
            </div>
            <div style="border-bottom: 1px solid rgb(77, 75, 75);"></div>
            <div class="step mt-5">
                <div class="d-flex align-items-center">
                    <img src="https://cdn-icons-png.freepik.com/512/5197/5197704.png" alt="Icono de notas"
                        class="icon-step">
                    <div>
                        <h3>5. Terminar y publicar</h3>
                        <p>Elige un precio inicial, verifica algunos detalles y publica tu evento.</p>
                    </div>
                </div>
            </div>


        </div>

        <div class="buttons-start">
            <button class="btn btn-cancel btn-outline-secondary mt-4" (click)="cancel()">Regresar al Inicio</button>
            <button class="btn btn-comenzar mt-4" (click)="next()">Comencemos</button>
        </div>
    </div>
</div>

<div class="container" *ngIf="step == 2">
    <div class="row">
        <div class="col-md-6 d-flex flex-column align-items-center justify-content-center vh-80">
            <h3 class="paso"><i class="fas fa-info-circle"></i> Paso 1</h3>
            <h2 class="display-4">Describe tu torneo</h2>
            <p class="mt-2 text-left">
                Comparte información detallada sobre el torneo, comenzando con algunos datos básicos como el nombre del
                torneo,
                una descripción completa que explique el propósito y los aspectos más destacados del mismo, así como el
                título que
                lo represente de manera atractiva. No olvides incluir las categorías a las que pertenece, para que los
                asistentes
                potenciales puedan identificar fácilmente el tipo de torneo que estás organizando.</p>
        </div>
        <div class="col-md-6 mt-4">
            <img src="https://static.vecteezy.com/system/resources/previews/018/757/969/original/3d-concert-stage-png.png"
                alt="icono de escenario" class="imagen-paso2">
        </div>
    </div>
    <div class="row">
        <div class="col d-flex justify-content-between">
            <button class="btn btn-outline-secondary" (click)="previus()">Atrás</button>
            <button class="btn btn-2" (click)="next()">Siguiente</button>
        </div>
    </div>
</div>


<form #eventoForm="ngForm" >
    <div class="container container-form">

        <div *ngIf="step == 3">

            <div class="mb-3 mt-5">
                <label for="titulo" class="form-label">Título</label>
                <input type="text" class="form-control" id="titulo" placeholder="Introduce el título del evento"
                    name="titulo" [(ngModel)]="evento.titulo">
            </div>

            <div class="mb-3 mt-5">
                <label for="descripcion" class="form-label text-bold">Descripción</label>
                <textarea class="form-control" id="descripcion" rows="4" name="descripcion"
                    [(ngModel)]="evento.descripcion"
                    placeholder="Introduce una descripción detallada del evento"></textarea>
            </div>
            <div class="options-selector">
                <div class="sports mb-5 mt-5">
                    <label for="sports" class="form-label">Deportes</label><br>

                    <div class="dropdown-container">
                        <button id="bt_dropdown_sport" class="btn btn-outline btn-info dropdown-toggle custom-btn-size"
                            (click)="toggleDropdown()" aria-expanded="false">
                            <span id="span_sport">{{ selectedSportLabel }}</span>
                            <span class="caret"></span>
                        </button>

                        <ul class="sportsMenu-dropdown" [ngClass]="{ show: dropdownOpen }"
                            style="max-height: 150px; overflow-y: auto; margin-top: 5px;">
                            <li *ngFor="let sport of sportsList" (click)="selectSport(sport)">
                                <a class="sport-dropdown">{{ sport }}</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="modality-select">
                    <label class="form-label">Modalidad</label><br>

                    <div class="button-group">
                        <button class="select-button" [ngClass]="{'selected': selectedButtons['solo']}"
                            (click)="toggleButton('solo')">En Solitario</button>
                        <button class="select-button" [ngClass]="{'selected': selectedButtons['duo']}"
                            (click)="toggleButton('duo')">En Duo</button>
                        <button class="select-button" [ngClass]="{'selected': selectedButtons['team']}"
                            (click)="toggleButton('team')">Por Equipo</button>
                    </div>

                    <div *ngIf="selectedButtons['team']" class="additional-options">
                        <div class="option">
                            <label for="numTitulares">Nº Titulares:</label>

                            <div class="select-container">

                                <button class="select-wrapper players-wrapper" (click)="playersDropdown('players')">
                                    <span>{{ numPlayers || 'Selecciona un número' }}</span>

                                </button>
                                <ul class="select-items players-items"
                                    [ngClass]="{'select-hide': !dropdowns['players']}">
                                    <li *ngFor="let player of playersList" (click)="selectPlayer(player)">
                                        <a>{{ player }}</a>
                                    </li>
                                </ul>

                                <a tabindex="0" class="info-icon"
                                    ngbPopover="Introduce el mínimo número de jugadores necesario para aceptar un equipo en tu campeonato."
                                    popoverTitle="Información" triggers="hover focus">
                                    <i class="fa fa-lg fa-info-circle"></i>
                                </a>
                            </div>
                        </div>

                        <div class="option">
                            <label for="numFichas">Nº Fichas:</label>
                            <div class="select-container">

                                <button class="select-wrapper rosters-wrapper" (click)="playersDropdown('rosters')">
                                    <span>{{ numRosters || 'Selecciona un número' }}</span>

                                </button>
                                <ul class="select-items rosters-items"
                                    [ngClass]="{'select-hide': !dropdowns['rosters']}">
                                    <li *ngFor="let roster of rostersList" (click)="selectRoster(roster)">
                                        <a>{{ roster }}</a>
                                    </li>
                                </ul>

                                <a tabindex="0" class="info-icon"
                                    ngbPopover="Introduce el número máximo de fichas de jugadores que tendrán los equipos. Este número debe ser mayor o igual que el número de titulares que selecciones."
                                    popoverTitle="Información" triggers="hover focus">
                                    <i class="fa fa-lg fa-info-circle"></i>
                                </a>
                            </div>
                        </div>
                    </div>


                </div>
            </div>


        </div>


        <!------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------>
        <div class="container" *ngIf="step == 4">
            <div class="row row-form">
                <div class="col-md-6 d-flex flex-column align-items-center justify-content-center vh-80">
                    <h3 class="paso"><i class="fas fa-image"></i> Paso 2</h3>
                    <h2 class="display-4">Define la cantidad de participantes</h2>
                    <p class="mt-2 text-left">
                        Aqui es donde podras definir la cantidad de participantes que tendra tu torneo,
                        a través de un sistema de "llaves" en la cual se producirán multiples enfrentamientos
                        hasta definir a los mas habilidosos. La opción que escojas aqui podra afectar en el tiempo
                        de duración del torneo, asi que si tienes en mente cuantos participantes vas a querer dentro
                        de tu torneo, adelante.
                    </p>
                </div>
                <div class="col-md-6 mt-4">
                    <img src="https://assets.challonge.com/assets/bracket-tree-8ce099d29904dd717b6707ff62fcdccfe3510956862e0a1b6d49265b02482a90.png"
                        alt="icono de Brackets" class="imagen-paso4">
                </div>
            </div>
        </div>




        <div *ngIf="step == 5">

            <!-- Título -->
            <h2>Formato para el Torneo</h2>
            <p>Selecciona un formato para generar los Brackets del Torneo:</p>

            <!-- Opciones de Formato de Torneo -->
            <div class="tournament-format-options">
                <div *ngFor="let format of tournamentFormats" [ngClass]="{ 'selected': selectedFormat === format.key }"
                    class="format-option" (click)="selectFormat(format.key)">

                    <div class="format-details">
                        <h3>{{ format.title }}</h3>
                        <div class="format-icon">
                            <img [src]="format.iconUrl" [alt]="format.title" />
                        </div>
                        <p>{{ format.description }}</p>
                    </div>
                </div>
            </div>

            <!-- Configuraciones de una sola eliminación -->
            <div class="format-settings" *ngIf="selectedFormat === 'singleElimination'">
                <label for="splitParticipantsToggleSingle">Configuraciones de una sola eliminación</label>
                <div class="toggle-container">
                    <div class="toggle-switch" [ngClass]="{'active': splitParticipantsSingleElimination}"
                        (click)="toggleSplitParticipantsSingleElimination()">
                        <span [ngClass]="{ 'active': splitParticipantsSingleElimination }"></span>
                    </div>
                    <label for="splitParticipantsToggleSingle">Incluir un partido por el 3er puesto</label>
                </div>
            </div>

            <!-- Configuraciones de doble eliminación -->
            <div class="format-settings" *ngIf="selectedFormat === 'doubleElimination'">
                <label for="splitParticipantsToggleDouble">Configuraciones de doble eliminación</label>
                <div class="toggle-container">
                    <div class="toggle-switch" [ngClass]="{'active': splitParticipantsDoubleElimination}"
                        (click)="toggleSplitParticipantsDoubleElimination()">
                        <span [ngClass]="{ 'active': splitParticipantsDoubleElimination }"></span>
                    </div>
                    <label for="splitParticipantsToggleDouble">Habilitar participantes divididos</label>
                </div>
            </div>



            <!-- Tamaño de Llave -->
            <div class="bracket-size-options">
                <h3>Tamaño del bracket</h3>
                <button *ngFor="let size of [4, 8, 16, 32]" (click)="setBracketSize(size)"
                    [ngClass]="{'selected': selectedSize === size}">
                    {{ size }} Participantes
                </button>
            </div>


        </div>

        <!------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------>



        <!------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------>

        <div *ngIf="step == 6">
            <div class="row">
                <div class="col-md-6 d-flex flex-column align-items-center justify-content-center vh-80">
                    <h2 class="display-6">VISUALIZACIÓN DE LOS BRACKETS</h2>
                </div>
                <!-- BRACKETS -->
                <div class="tournament-bracket-wrapper">
                    <div class="full-screen-target">
                        <div class="tournament-bracket -preview">
                            <div class="tournament-bracket--scrollmask">
                                <div class="tournament-bracket--scrolleable" id="scrolleable-container" tabindex="0"
                                    [attr.height]="svgHeight">
                                    <div class="tournament-bracket--relative">
                                        <div class="bracket-placeholder" style="width: 161px; height: 729px;"></div>
                                        <svg id="svg" class="bracket-svg" [attr.height]="svgHeight"
                                            [attr.width]="getWidth()"
                                            [attr.viewBox]="'0 0 ' + getWidth() + ' ' + viewBoxHeight"
                                            preserveAspectRatio="xMinYMin meet" xmlns="http://www.w3.org/2000/svg"
                                            overflow="visible">
                                            <defs>
                                                <linearGradient id="round1-gradient" x1="0%" y1="0%" x2="100%"
                                                    y2="100%">
                                                    <stop offset="0%" style="stop-color:#87CEEB;stop-opacity:1" />
                                                    <stop offset="100%" style="stop-color:#4682B4;stop-opacity:1" />
                                                </linearGradient>
                                                <linearGradient id="round2-gradient" x1="0%" y1="0%" x2="100%"
                                                    y2="100%">
                                                    <stop offset="0%" style="stop-color:#FFC080;stop-opacity:1" />
                                                    <stop offset="100%" style="stop-color:#FFA07A;stop-opacity:1" />
                                                </linearGradient>
                                                <linearGradient id="round3-gradient" x1="0%" y1="0%" x2="100%"
                                                    y2="100%">
                                                    <stop offset="0%" style="stop-color:#C5CAE9;stop-opacity:1" />
                                                    <stop offset="100%" style="stop-color:#808080;stop-opacity:1" />
                                                </linearGradient>
                                                <linearGradient id="round4-gradient" x1="0%" y1="0%" x2="100%"
                                                    y2="100%">
                                                    <stop offset="0%" style="stop-color:#f59898;stop-opacity:1" />
                                                    <stop offset="100%" style="stop-color:#ff6971;stop-opacity:1" />
                                                </linearGradient>
                                                <linearGradient id="round5-gradient" x1="0%" y1="0%" x2="100%"
                                                    y2="100%">
                                                    <stop offset="0%" style="stop-color:#a5f7a2;stop-opacity:1" />
                                                    <stop offset="100%" style="stop-color:#64fa56;stop-opacity:1" />
                                                </linearGradient>
                                                <linearGradient id="final-gradient" x1="0%" y1="0%" x2="100%"
                                                    y2="100%">
                                                    <stop offset="0%" style="stop-color:#b198f5;stop-opacity:1" />
                                                    <stop offset="100%" style="stop-color:#8569ff;stop-opacity:1" />
                                                </linearGradient>
                                            </defs>
                                            <!-- Primera Ronda -->
                                            <g *ngFor="let match of round1Matches; let i = index" class="bracket-match"
                                                [attr.transform]="'translate(20,' + (i * 130) + ')'">

                                                <!-- Fondo con degradado -->
                                                <rect x="-10" y="-37" width="280" height="130"
                                                    fill="url(#round1-gradient)" stroke="none" />

                                                <!-- Número de partido -->
                                                <text x="0" y="35" text-anchor="middle" class="match-number"
                                                    stroke="none">{{
                                                    match.matchNumber
                                                    }}</text>
                                                <!-- Jugador 1 -->
                                                <rect x="20" y="0" width="180" height="30" class="player-box"
                                                    stroke="none">
                                                </rect>

                                                <text x="110" y="20" text-anchor="middle" class="player-name">{{
                                                    match.player1
                                                    }}</text>


                                                <!-- Cuadro de color en la esquina derecha -->
                                                <rect x="169" y="0.5" width="30.5" height="29" fill="#f5844c"
                                                    stroke="none">
                                                </rect>


                                                <!-- Jugador 2 -->
                                                <rect x="20" y="30.5" width="180" height="30" class="player-box"
                                                    stroke="none">
                                                </rect>

                                                <text x="110" y="50" text-anchor="middle" class="player-name">{{
                                                    match.player2
                                                    }}</text>


                                                <!-- Cuadro de color en la esquina derecha -->
                                                <rect x="169" y="31" width="30.5" height="29" fill="gray" stroke="none">
                                                </rect>


                                                <!-- Llaves (condicionales según índice) -->
                                                <ng-container *ngIf="i % 2 === 0; else oddMatch">
                                                    <g>
                                                        <line x1="203" y1="30" x2="230" y2="30" stroke="black"
                                                            stroke-width="2">
                                                        </line>

                                                        <line x1="229" y1="30" x2="229" y2="92" stroke="black"
                                                            stroke-width="2">
                                                        </line>

                                                        <line x1="228" y1="92" x2="260" y2="92" stroke="black"
                                                            stroke-width="2">
                                                        </line>

                                                    </g>
                                                </ng-container>
                                                <ng-template #oddMatch>
                                                    <g>
                                                        <line x1="203" y1="30" x2="230" y2="30" stroke="black"
                                                            stroke-width="2">
                                                        </line>

                                                        <line x1="229" y1="-37" x2="229" y2="30" stroke="black"
                                                            stroke-width="2">
                                                        </line>

                                                        <line x1="228" y1="-37" x2="260" y2="-37" stroke="black"
                                                            stroke-width="2">
                                                        </line>

                                                    </g>
                                                </ng-template>
                                            </g>
                                            <!-- Segunda Ronda -->
                                            <ng-container *ngIf="round2Matches.length > 0">
                                                <g *ngFor="let match of round2Matches; let i = index"
                                                    class="bracket-match"
                                                    [attr.transform]="'translate(300,' + (i * 260 + 62) + ')'">

                                                    <!-- Fondo con degradado -->
                                                    <rect x="-10" y="-99" width="280" height="260"
                                                        fill="url(#round2-gradient)" stroke="none" />


                                                    <!-- Número de partido -->
                                                    <text x="0" y="35" text-anchor="middle" class="match-number"
                                                        stroke="none">{{
                                                        match.matchNumber
                                                        }}</text>

                                                    <!-- Línea de conexión para Ronda 2 -->
                                                    <ng-container *ngIf="i % 2 === 0; else oddMatch2">
                                                        <g *ngIf="round1Matches.length > 2">
                                                            <line x1="200" y1="30" x2="230" y2="30" stroke="black"
                                                                stroke-width="2">
                                                            </line>
                                                            <line x1="230" y1="29" x2="230" y2="160" stroke="black"
                                                                stroke-width="2">
                                                            </line>
                                                            <line x1="230" y1="160" x2="260" y2="160" stroke="black"
                                                                stroke-width="2">
                                                            </line>
                                                        </g>
                                                    </ng-container>
                                                    <ng-template #oddMatch2>
                                                        <g>
                                                            <line x1="200" y1="30" x2="230" y2="30" stroke="black"
                                                                stroke-width="2">
                                                            </line>
                                                            <line x1="230" y1="-100" x2="230" y2="31" stroke="black"
                                                                stroke-width="2">
                                                            </line>
                                                            <line x1="230" y1="-99" x2="260" y2="-99" stroke="black"
                                                                stroke-width="2">
                                                            </line>
                                                        </g>
                                                    </ng-template>

                                                    <!-- Jugador 1 -->
                                                    <rect x="20" y="0" width="180" height="30" rx="5" ry="5"
                                                        class="player-box">
                                                    </rect>
                                                    <text x="110" y="20" text-anchor="middle" class="player-name">{{
                                                        match.player1
                                                        }}</text>

                                                    <!-- Jugador 2 -->
                                                    <rect x="20" y="30" width="180" height="30" rx="5" ry="5"
                                                        class="player-box">
                                                    </rect>
                                                    <text x="110" y="50" text-anchor="middle" class="player-name">{{
                                                        match.player2
                                                        }}</text>
                                                </g>
                                            </ng-container>

                                            <!-- Tercera Ronda -->
                                            <ng-container *ngIf="round3Matches.length > 0">
                                                <g *ngFor="let match of round3Matches; let i = index"
                                                    class="bracket-match"
                                                    [attr.transform]="'translate(580,' + (i * 520 + 192) + ')'">
                                                    <!-- Fondo con degradado -->
                                                    <rect x="-10" y="-229" width="290" height="520"
                                                        fill="url(#round3-gradient)" stroke="none" />

                                                    <!-- Número de partido -->
                                                    <text x="0" y="35" text-anchor="middle" class="match-number"
                                                        stroke="none">{{
                                                        match.matchNumber
                                                        }}</text>

                                                    <!-- Línea de conexión para Ronda 3 -->
                                                    <ng-container *ngIf="i % 2 === 0; else oddMatch3">
                                                        <g *ngIf="round1Matches.length > 4">
                                                            <line x1="200" y1="30" x2="230" y2="30" stroke="black"
                                                                stroke-width="2">
                                                            </line>

                                                            <line x1="230" y1="29" x2="230" y2="291" stroke="black"
                                                                stroke-width="2">
                                                            </line>

                                                            <line x1="230" y1="290" x2="270" y2="290" stroke="black"
                                                                stroke-width="2">
                                                            </line>
                                                        </g>
                                                    </ng-container>
                                                    <ng-template #oddMatch3>
                                                        <g>
                                                            <line x1="200" y1="30" x2="230" y2="30" stroke="black"
                                                                stroke-width="2">
                                                            </line>

                                                            <line x1="230" y1="-229" x2="230" y2="31" stroke="black"
                                                                stroke-width="2">
                                                            </line>
                                                            <line x1="230" y1="-229" x2="270" y2="-229" stroke="black"
                                                                stroke-width="2">
                                                            </line>
                                                        </g>
                                                    </ng-template>

                                                    <!-- Jugador 1 -->
                                                    <rect x="20" y="0" width="180" height="30" rx="5" ry="5"
                                                        class="player-box">
                                                    </rect>

                                                    <text x="110" y="20" text-anchor="middle" class="player-name">{{
                                                        match.player1
                                                        }}</text>


                                                    <!-- Jugador 2 -->
                                                    <rect x="20" y="30" width="180" height="30" rx="5" ry="5"
                                                        class="player-box">
                                                    </rect>

                                                    <text x="110" y="50" text-anchor="middle" class="player-name">{{
                                                        match.player2
                                                        }}</text>

                                                </g>
                                            </ng-container>

                                            <!-- Cuarta Ronda -->
                                            <ng-container *ngIf="round4Matches.length > 0">
                                                <g *ngFor="let match of round4Matches; let i = index"
                                                    class="bracket-match"
                                                    [attr.transform]="'translate(870,' + (i * 1040 + 458) + ')'">
                                                    <!-- Fondo con degradado -->
                                                    <rect x="-10" y="-495" width="290" height="1040"
                                                        fill="url(#round4-gradient)" stroke="none" />


                                                    <!-- Número de partido -->
                                                    <text x="0" y="30" text-anchor="middle" class="match-number"
                                                        stroke="none">{{
                                                        match.matchNumber
                                                        }}</text>

                                                    <!-- Línea de conexión para Ronda 4 -->
                                                    <ng-container *ngIf="i % 2 === 0; else oddMatch4">
                                                        <!-- Llave invertida para partidos pares -->
                                                        <g *ngIf="round1Matches.length > 8">
                                                            <line x1="200" y1="25" x2="230" y2="25" stroke="black"
                                                                stroke-width="2">
                                                            </line>

                                                            <line x1="230" y1="24" x2="230" y2="545" stroke="black"
                                                                stroke-width="2">
                                                            </line>

                                                            <line x1="230" y1="544.5" x2="270" y2="544.5" stroke="black"
                                                                stroke-width="2">
                                                            </line>
                                                        </g>
                                                    </ng-container>
                                                    <ng-template #oddMatch4>
                                                        <!-- Llave original para partidos impares -->
                                                        <g>
                                                            <line x1="200" y1="25" x2="230" y2="25" stroke="black"
                                                                stroke-width="2">
                                                            </line>

                                                            <line x1="230" y1="-495" x2="230" y2="26" stroke="black"
                                                                stroke-width="2">
                                                            </line>
                                                            <line x1="230" y1="-494.5" x2="270" y2="-494.5" stroke="black"
                                                                stroke-width="2">
                                                            </line>
                                                        </g>
                                                    </ng-template>
                                                    <!-- Jugador 1 -->
                                                    <rect x="20" y="-5" width="180" height="30" rx="5" ry="5"
                                                        class="player-box">
                                                    </rect>

                                                    <text x="110" y="15" text-anchor="middle" class="player-name">{{
                                                        match.player1
                                                        }}</text>

                                                    <!-- Jugador 2 -->
                                                    <rect x="20" y="25" width="180" height="30" rx="5" ry="5"
                                                        class="player-box">
                                                    </rect>

                                                    <text x="110" y="45" text-anchor="middle" class="player-name">{{
                                                        match.player2
                                                        }}</text>

                                                </g>
                                            </ng-container>


                                            <!-- Quinta Ronda -->
                                            <ng-container *ngIf="round5Matches.length > 0">
                                                <g *ngFor="let match of round5Matches; let i = index"
                                                    class="bracket-match"
                                                    [attr.transform]="'translate(1160,' + (i * 1040 + 984) + ')'">
                                                     <!-- Fondo con degradado -->
                                                     <rect x="-10" y="-1021" width="290" height="2080"
                                                     fill="url(#round5-gradient)" stroke="none" />

                                                    <!-- Número de partido -->
                                                    <text x="0" y="25" text-anchor="middle" class="match-number"
                                                        stroke="none">{{
                                                        match.matchNumber
                                                        }}</text>
                                                    <g *ngIf="round1Matches.length > 16">
                                                        <!-- Línea de conexión para Ronda 5 -->
                                                        <line x1="200" y1="30" x2="230" y2="30" stroke="black"
                                                            stroke-width="2">
                                                        </line>

                                                    </g>
                                                    <!-- Jugador 1 -->
                                                    <rect x="20" y="-10" width="180" height="30" rx="5" ry="5"
                                                        class="player-box">
                                                    </rect>

                                                    <text x="110" y="10" text-anchor="middle" class="player-name">{{
                                                        match.player1
                                                        }}</text>


                                                    <!-- Jugador 2 -->
                                                    <rect x="20" y="20" width="180" height="30" rx="5" ry="5"
                                                        class="player-box">
                                                    </rect>

                                                    <text x="110" y="40" text-anchor="middle" class="player-name">{{
                                                        match.player2
                                                        }}</text>

                                                </g>
                                            </ng-container>

                                            <!-- GANADOR -->
                                            <ng-container *ngIf="selectedSize">
                                                <g [attr.transform]="'translate(' + getPosicionGanador() + ')'">

                                                    <!-- Definiciones del degradado para el cuadro del ganador -->
                                                    <defs>
                                                        <!-- Degradado para el rectángulo -->
                                                        <linearGradient id="gold-gradient" x1="0%" y1="0%" x2="100%"
                                                            y2="100%">
                                                            <!-- Color dorado puro -->
                                                            <stop offset="0%" style="stop-color:gold;stop-opacity:1" />
                                                            <!-- Color blanco para el efecto de reflejo -->
                                                            <stop offset="10%"
                                                                style="stop-color:white;stop-opacity:0.8" />
                                                            <stop offset="100%"
                                                                style="stop-color:gold;stop-opacity:1" />
                                                        </linearGradient>
                                                    </defs>

                                                    <!-- Línea de conexión entre la ronda anterior y el ganador -->
                                                    <line x1="-90" y1="20" x2="0" y2="20" stroke="gold"
                                                        stroke-width="2">
                                                    </line>

                                                    <!-- Cuadro que representa al ganador con degradado dorado -->
                                                    <rect width="180" height="40" fill="url(#gold-gradient)" rx="10"
                                                        ry="10">
                                                    </rect>

                                                    <!-- Nombre del ganador -->
                                                    <text x="55" y="25" font-size="16" fill="black"
                                                        font-weight="bold">Ganador</text>

                                                </g>
                                            </ng-container>



                                        </svg>
                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>

        <!------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------>

        <div *ngIf="step == 7">
            <div class="row">
                <div class="col-md-6 d-flex flex-column align-items-center justify-content-center vh-80">
                    <h3 class="paso"><i class="fas fa-image"></i> Paso 2</h3>
                    <h2 class="display-4">Hazlo destacar</h2>
                    <p class="mt-2 text-left">
                        Sube una imagen representativa que capture la esencia y el ambiente del evento,
                        ya sea un póster promocional o cualquier otra visual que ayude a los asistentes a visualizar
                        lo que les espera. A continuación, proporciona la
                        dirección exacta del evento, incluyendo detalles como el nombre del lugar, la calle y
                        cualquier referencia adicional que pueda ser útil para llegar sin inconvenientes.
                        No olvides especificar la fecha y la hora de inicio, para que los participantes puedan
                        planificar su
                        asistencia de manera adecuada.</p>
                </div>
                <div class="col-md-6 mt-4">
                    <img src="https://cdn-icons-png.flaticon.com/512/5798/5798294.png" alt="icono de subir imagen"
                        class="imagen-paso4">
                </div>
            </div>
        </div>




        <div *ngIf="step == 8">
            <div>
                <h1 class="mb-5">Sube tu imagen</h1>
                <div class="dropzone" appDrag (files)="fileDropped($event)">
                    <div class="text-wrapper">
                        <div class="centered">Arrastre y suelte su imagen o
                            <a (click)="selectFile.click()" class="browse-button">busque</a> una imagen
                        </div>
                    </div>
                </div>
                <input type="file" name="eventoImagenes" style="display: none;" multiple value="select" #selectFile
                    (change)="onFileSelected($event)">
            </div>
            <div class="mt-5">
                <div class="row mb-5 contenedor1" *ngIf="evento && evento.eventoImagenes">
                    <mat-grid-list cols="4" rowHeight="1:1">
                        <div style="display: inline-flex;" *ngFor="let file of evento.eventoImagenes; let i = index;">
                            <span class="btn-remove-image" (click)="removeImages(i)">x</span>
                            <img [src]="file.url" width="100px" height="100px" class="mx-2">
                        </div>
                    </mat-grid-list>
                </div>
            </div>
        </div>

        <div *ngIf="step == 9">
            <div class="row">
                <div class="col-md-12 mt-5 mb-4">
                    <label for="direccion">Dirección:</label>
                    <input type="text" id="direccion" class="form-control" name="direccion"
                        [(ngModel)]="evento.direccion">
                </div>
                <div class="col-md-12 mt-3 mb-4">
                    <label for="url">URL de la dirección:</label>
                    <input type="text" id="url" class="form-control" name="direccionUrl"
                        [(ngModel)]="evento.direccionUrl">
                </div>
            </div>
            <div class="row mb-5">
                <div class="col-md-6 mt-3 mb-5">
                    <label for="fecha">Fecha:</label>
                    <input type="date" id="fecha" class="form-control" name="fecha" [(ngModel)]="evento.fecha">
                </div>
                <div class="col-md-6 mt-3 mb-5">
                    <label for="hora">Hora:</label>
                    <input type="time" id="hora" class="form-control" name="hora" [(ngModel)]="evento.hora">
                </div>
            </div>
        </div>

        <div *ngIf="step == 10">
            <div class="row">
                <div class="col-md-6 d-flex flex-column align-items-center justify-content-center vh-90 mt-5">
                    <h3 class="paso"><i class="fas fa-check-circle"></i> Paso 3</h3>
                    <h2 class="display-4">Terminar y publicar</h2>
                    <p class="mt-2 text-left">
                        Por último, determina el precio inicial para asistir a tu evento, teniendo en cuenta factores
                        como
                        los costos de organización y el valor que ofrece la experiencia. Realiza
                        una revisión detallada de toda la información proporcionada, incluyendo la descripción del
                        evento, la fecha, la hora, la ubicación y cualquier otro detalle relevante, para asegurarte
                        de que todo esté correcto y completo. Una vez que hayas confirmado que toda la información
                        es precisa y estás satisfecho con los detalles, procede a publicar tu evento.</p>
                </div>
                <div class="col-md-6 mt-5 mb-5">
                    <img src="https://th.bing.com/th/id/R.75c46cd81a8db59d59dc3e388a83dedd?rik=5ir2xlsh6OggKg&pid=ImgRaw&r=0"
                        alt="icono de subir imagen" class="imagen-paso4">
                </div>
            </div>
        </div>

        <div *ngIf="step == 11">
            <div class="row mb-5">
                <div class="col-md-6 mt-5 mb-5">
                    <label for="precio">Precio:</label>
                    <input type="number" id="precio" class="form-control" name="precioEntrada"
                        [(ngModel)]="evento.precioEntrada">
                </div>
                <div class="col-md-6 mt-5 mb-5">
                    <label for="institucion">Institución:</label>
                    <select id="institucion" class="form-control" name="institucion"
                        [(ngModel)]="evento.instituciones">
                        <option selected value="">Seleccione una opción</option>
                        <option *ngFor="let institucion of institutions" [value]="institucion.id">{{ institucion.nombre
                            }}</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col d-flex justify-content-between">
                <button class="btn btn-outline-secondary" type="button" *ngIf="step >= 3"
                    (click)="previus()">Atrás</button>

                <button class="btn btn-2" type="button" *ngIf="step >= 3 && step < 11" (click)="next()"
                    [disabled]="step === 5 && (!selectedFormat || !selectedSize)">
                    Siguiente
                </button>

                <button class="btn btn-2" type="submit" *ngIf="step == 11">PUBLICAR TORNEO</button>
            </div>
        </div>
    </div>
</form>