<svg x="0" y="28" class="match--player">
   
    <defs>
        <clipPath id="clipPath4132429">
            <rect x="50" y="0" width="143" height="22"></rect>
        </clipPath>
        <clipPath id="portraitClipPath4132429">
            <path></path>
        </clipPath>
    </defs>
    <path d="M 50 0 h 147 v 22 h -147 Z" class="match--player-background -empty"></path>
    <path d="M 26 0 h 24 v 22 h -24 Z" class="match--seed-background"></path><text x="38" y="14" width="10" height="12"
        text-anchor="middle" class="match--seed">16</text>
    <line x1="26" y1="-0.5" x2="226" y2="-0.5" class="match--player-divider"></line>
</svg>

   <!-- BRACKETS -->
   <div class="tournament-bracket-wrapper">
    <div class="full-screen-target">
        <div class="tournament-bracket -preview">
            <div class="tournament-bracket--scrollmask">
                <div class="tournament-bracket" tabindex="0" style="height: 516px;"
                    (mousedown)="onMouseDown($event)" (mousemove)="onMouseMove($event)"
                    (mouseup)="onMouseUp()">
                    <div class="tournament-bracket--relative">
                        <div class="bracket-placeholder" style="width: 1617px; height: 729px;"></div>
                        <svg class="bracket-svg" width="1253" height="486" viewBox="0 0 1253 486"
                            xmlns="http://www.w3.org/2000/svg" overflow="visible">

                            <!-- Primera Ronda -->
                            <g *ngFor="let match of round1Matches; let i = index" class="bracket-match"
                                [attr.transform]="'translate(20,' + (i * 130) + ')'">
                                <!-- Sumamos 20 a la posición 'translate' -->

                                <!-- Número de partido -->
                                <text x="0" y="35" text-anchor="middle" class="match-number">{{
                                    match.matchNumber
                                    }}</text> <!-- x sumado por 20 -->

                                <!-- Jugador 1 -->
                                <rect x="20" y="0" width="180" height="30" rx="1" ry="1"
                                    class="player-box">
                                </rect>
                                <!-- x sumado por 20 -->
                                <text x="110" y="20" text-anchor="middle" class="player-name">{{
                                    match.player1
                                    }}</text>
                                <!-- x sumado por 20 -->

                                <!-- Cuadro de color en la esquina derecha -->
                                <rect x="169" y="1" width="30" height="29" fill="#f5844c" stroke="none">
                                </rect>
                                <!-- x sumado por 20 -->

                                <!-- Jugador 2 -->
                                <rect x="20" y="30" width="180" height="30" rx="1" ry="1"
                                    class="player-box">
                                </rect>
                                <!-- x sumado por 20 -->
                                <text x="110" y="50" text-anchor="middle" class="player-name">{{
                                    match.player2
                                    }}</text>
                                <!-- x sumado por 20 -->

                                <!-- Cuadro de color en la esquina derecha -->
                                <rect x="169" y="30.5" width="30" height="29" fill="gray" stroke="none">
                                </rect>
                                <!-- x sumado por 20 -->

                                <!-- Llaves (condicionales según índice) -->
                                <ng-container *ngIf="i % 2 === 0; else oddMatch">
                                    <g>
                                        <line x1="200" y1="30" x2="230" y2="30" stroke="black"
                                            stroke-width="2">
                                        </line>

                                        <line x1="230" y1="30" x2="230" y2="92" stroke="black"
                                            stroke-width="2">
                                        </line>

                                        <line x1="230" y1="92" x2="260" y2="92" stroke="black"
                                            stroke-width="2">
                                        </line>

                                    </g>
                                </ng-container>
                                <ng-template #oddMatch>
                                    <g>
                                        <line x1="200" y1="30" x2="230" y2="30" stroke="black"
                                            stroke-width="2">
                                        </line>

                                        <line x1="230" y1="-37" x2="230" y2="30" stroke="black"
                                            stroke-width="2">
                                        </line>

                                        <line x1="230" y1="-37" x2="260" y2="-37" stroke="black"
                                            stroke-width="2">
                                        </line>

                                    </g>
                                </ng-template>
                            </g>
                            <!-- Segunda Ronda -->
                            <ng-container *ngIf="round2Matches.length > 0">
                                <g *ngFor="let match of round2Matches; let i = index"
                                    class="bracket-match"
                                    [attr.transform]="'translate(300,' + (i * 260 + 62) + ')'">
                                    <!-- Número de partido -->
                                    <text x="0" y="35" text-anchor="middle" class="match-number">{{
                                        match.matchNumber
                                        }}</text>

                                    <!-- Línea de conexión para Ronda 2 -->
                                    <ng-container *ngIf="i % 2 === 0; else oddMatch2">
                                        <g *ngIf="round1Matches.length > 2">
                                            <line x1="200" y1="30" x2="230" y2="30" stroke="black"
                                                stroke-width="2">
                                            </line>
                                            <line x1="230" y1="30" x2="230" y2="160" stroke="black"
                                                stroke-width="2">
                                            </line>
                                            <line x1="230" y1="160" x2="260" y2="160" stroke="black"
                                                stroke-width="2">
                                            </line>
                                        </g>
                                    </ng-container>
                                    <ng-template #oddMatch2>
                                        <g>
                                            <line x1="200" y1="30" x2="230" y2="30" stroke="black"
                                                stroke-width="2">
                                            </line>
                                            <line x1="230" y1="-99" x2="230" y2="30" stroke="black"
                                                stroke-width="2">
                                            </line>
                                            <line x1="230" y1="-99" x2="260" y2="-99" stroke="black"
                                                stroke-width="2">
                                            </line>
                                        </g>
                                    </ng-template>

                                    <!-- Jugador 1 -->
                                    <rect x="20" y="0" width="180" height="30" rx="5" ry="5"
                                        class="player-box">
                                    </rect>
                                    <text x="110" y="20" text-anchor="middle" class="player-name">{{
                                        match.player1
                                        }}</text>

                                    <!-- Jugador 2 -->
                                    <rect x="20" y="30" width="180" height="30" rx="5" ry="5"
                                        class="player-box">
                                    </rect>
                                    <text x="110" y="50" text-anchor="middle" class="player-name">{{
                                        match.player2
                                        }}</text>
                                </g>
                            </ng-container>

                            <!-- Tercera Ronda -->
                            <ng-container *ngIf="round3Matches.length > 0">
                                <g *ngFor="let match of round3Matches; let i = index"
                                    class="bracket-match"
                                    [attr.transform]="'translate(580,' + (i * 520 + 192) + ')'">
                                    <!-- Sumamos 20 a la posición 'translate' -->

                                    <!-- Número de partido -->
                                    <text x="0" y="35" text-anchor="middle" class="match-number">{{
                                        match.matchNumber
                                        }}</text> <!-- x sumado por 20 -->

                                    <!-- Línea de conexión para Ronda 3 -->
                                    <ng-container *ngIf="i % 2 === 0; else oddMatch3">
                                        <g *ngIf="round1Matches.length > 4">
                                            <line x1="200" y1="30" x2="230" y2="30" stroke="black"
                                                stroke-width="2">
                                            </line>
                                            <!-- x1 y x2 sumados por 20 -->
                                            <line x1="230" y1="30" x2="230" y2="296" stroke="black"
                                                stroke-width="2">
                                            </line>
                                            <!-- x1 sumado por 20 -->
                                            <line x1="230" y1="296" x2="270" y2="296" stroke="black"
                                                stroke-width="2">
                                            </line> <!-- x1 y x2 sumados por 20 -->
                                        </g>
                                    </ng-container>
                                    <ng-template #oddMatch3>
                                        <g>
                                            <line x1="200" y1="30" x2="230" y2="30" stroke="black"
                                                stroke-width="2">
                                            </line>
                                            <!-- x1 y x2 sumados por 20 -->
                                            <line x1="230" y1="-225" x2="230" y2="30" stroke="black"
                                                stroke-width="2">
                                            </line> <!-- x1 sumado por 20 -->
                                            <line x1="230" y1="-225" x2="270" y2="-225" stroke="black"
                                                stroke-width="2">
                                            </line> <!-- x1 y x2 sumados por 20 -->
                                        </g>
                                    </ng-template>

                                    <!-- Jugador 1 -->
                                    <rect x="20" y="0" width="180" height="30" rx="5" ry="5"
                                        class="player-box">
                                    </rect>

                                    <text x="110" y="20" text-anchor="middle" class="player-name">{{
                                        match.player1
                                        }}</text>


                                    <!-- Jugador 2 -->
                                    <rect x="20" y="30" width="180" height="30" rx="5" ry="5"
                                        class="player-box">
                                    </rect>

                                    <text x="110" y="50" text-anchor="middle" class="player-name">{{
                                        match.player2
                                        }}</text>

                                </g>
                            </ng-container>

                            <!-- Cuarta Ronda -->
                            <ng-container *ngIf="round4Matches.length > 0">
                                <g *ngFor="let match of round4Matches; let i = index"
                                    class="bracket-match"
                                    [attr.transform]="'translate(870,' + (i * 1040 + 458) + ')'">
                                    <!-- Sumo 20 al valor de x -->

                                    <!-- Número de partido -->
                                    <text x="0" y="35" text-anchor="middle" class="match-number">{{
                                        match.matchNumber
                                        }}</text>

                                    <!-- Línea de conexión para Ronda 4 -->
                                    <ng-container *ngIf="i % 2 === 0; else oddMatch4">
                                        <!-- Llave invertida para partidos pares -->
                                        <g *ngIf="round1Matches.length > 8">
                                            <line x1="200" y1="30" x2="230" y2="30" stroke="black"
                                                stroke-width="2">
                                            </line>

                                            <line x1="230" y1="30" x2="230" y2="555" stroke="black"
                                                stroke-width="2">
                                            </line>

                                            <line x1="230" y1="555" x2="270" y2="555" stroke="black"
                                                stroke-width="2">
                                            </line>
                                        </g>
                                    </ng-container>
                                    <ng-template #oddMatch4>
                                        <!-- Llave original para partidos impares -->
                                        <g>
                                            <line x1="200" y1="30" x2="230" y2="30" stroke="black"
                                                stroke-width="2">
                                            </line>

                                            <line x1="230" y1="-484" x2="230" y2="30" stroke="black"
                                                stroke-width="2">
                                            </line>
                                            <line x1="230" y1="-484" x2="270" y2="-484" stroke="black"
                                                stroke-width="2">
                                            </line>
                                        </g>
                                    </ng-template>
                                    <!-- Jugador 1 -->
                                    <rect x="20" y="0" width="180" height="30" rx="5" ry="5"
                                        class="player-box">
                                    </rect>

                                    <text x="110" y="20" text-anchor="middle" class="player-name">{{
                                        match.player1
                                        }}</text>

                                    <!-- Jugador 2 -->
                                    <rect x="20" y="30" width="180" height="30" rx="5" ry="5"
                                        class="player-box">
                                    </rect>

                                    <text x="110" y="50" text-anchor="middle" class="player-name">{{
                                        match.player2
                                        }}</text>

                                </g>
                            </ng-container>


                            <!-- Quinta Ronda -->
                            <ng-container *ngIf="round5Matches.length > 0">
                                <g *ngFor="let match of round5Matches; let i = index"
                                    class="bracket-match"
                                    [attr.transform]="'translate(1160,' + (i * 1040 + 984) + ')'">


                                    <!-- Número de partido -->
                                    <text x="0" y="35" text-anchor="middle" class="match-number">{{
                                        match.matchNumber
                                        }}</text>
                                    <g *ngIf="round1Matches.length > 16">
                                        <!-- Línea de conexión para Ronda 5 -->
                                        <line x1="200" y1="30" x2="230" y2="30" stroke="black"
                                            stroke-width="2">
                                        </line>

                                    </g>
                                    <!-- Jugador 1 -->
                                    <rect x="20" y="0" width="180" height="30" rx="5" ry="5"
                                        class="player-box">
                                    </rect>

                                    <text x="110" y="20" text-anchor="middle" class="player-name">{{
                                        match.player1
                                        }}</text>


                                    <!-- Jugador 2 -->
                                    <rect x="20" y="30" width="180" height="30" rx="5" ry="5"
                                        class="player-box">
                                    </rect>

                                    <text x="110" y="50" text-anchor="middle" class="player-name">{{
                                        match.player2
                                        }}</text>

                                </g>
                            </ng-container>

                            <ng-container *ngIf="selectedSize">
                                <g [attr.transform]="'translate(' + getPosicionGanador() + ')'">

                                    <!-- Definiciones del degradado para el cuadro del ganador -->
                                    <defs>
                                        <!-- Degradado para el rectángulo -->
                                        <linearGradient id="gold-gradient" x1="0%" y1="0%" x2="100%"
                                            y2="100%">
                                            <!-- Color dorado puro -->
                                            <stop offset="0%" style="stop-color:gold;stop-opacity:1" />
                                            <!-- Color blanco para el efecto de reflejo -->
                                            <stop offset="10%"
                                                style="stop-color:white;stop-opacity:0.8" />
                                            <stop offset="100%"
                                                style="stop-color:gold;stop-opacity:1" />
                                        </linearGradient>
                                    </defs>

                                    <!-- Línea de conexión entre la ronda anterior y el ganador -->
                                    <line x1="-200" y1="20" x2="0" y2="20" stroke="gold"
                                        stroke-width="2">
                                    </line>

                                    <!-- Cuadro que representa al ganador con degradado dorado -->
                                    <rect width="180" height="40" fill="url(#gold-gradient)" rx="10"
                                        ry="10">
                                    </rect>

                                    <!-- Nombre del ganador -->
                                    <text x="55" y="25" font-size="16" fill="black"
                                        font-weight="bold">Ganador</text>

                                </g>
                            </ng-container>



                        </svg>
                    </div>

                </div>
            </div>

        </div>
    </div>

    </div>