:host {
    display: block;
    color: #e0e0e0;
    min-height: 100vh;
}

.sidebar {
    background-color: #121212;
    padding: 20px;
    height: 100vh;
}

.user-info {
    text-align: center;
}

.user-avatar {
    width: 64px;
    height: 64px;
    background-color: #f77d31;
    border-radius: 50%;
    margin: 0 auto 10px;
}

.user-name {
    font-size: 1.2rem;
    margin-bottom: 5px;
}

.user-id {
    font-size: 0.9rem;
    color: #888;
}

.nav-link {
    color: #b0b0b0;
}

.nav-link:hover,
.nav-link.active {
    color: #fff;
    background-color: #f77d31;
}

main {
    padding-top: 20px;
}

h1,
h2 {
    color: #fff;
}

.form-control,
.form-select {
    background-color: #333;
    border-color: #444;
    color: #e0e0e0;
}

.form-control:focus,
.form-select:focus {
    background-color: #444;
    border-color: #f77d31;
    color: #fff;
}

.btn-outline-primary {
    color: #f77d31;
    border-color: #f77d31;
}

.btn-outline-primary:hover {
    background-color: #f77d31;
    color: #fff;
}

/*--------------------------------------------------------------------------*/

.f-ticket * {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.ticket-f-content-jn {
    overflow-x: auto;
}

.f-ticket {
    font-family: "Open Sans", sans-serif;
    margin: 20px 25px;
    width: 695px;
    height: 305px;
    background: #fff;
    border-radius: 10px;
    display: flex;
    position: relative;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
    color: #000;
}

.f-ticket:before {
    content: "";
    position: absolute;
    top: 15px;
    left: 160px;
    width: 405px;
    height: 5px;
    background: red;
    z-index: 1;
    opacity: 0.8;
}

.f-ticket__decor {
    /* content: ""; */
    position: absolute;
    top: 10px;
    left: 190px;
    width: 505px;
    height: 285px;
    background: rgba(0, 0, 0, 0.1);
}

.f-ticket__qr {
    width: 180px;
    flex-shrink: 0;
    padding: 10px;
    border-right: 5px dotted #c4c4c4;
}

.f-ticket__qr_imgs {
    text-align: center;
    padding: 3px 0;
}

.f-ticket__qr_qr {
    position: relative;
    padding: 0 8px 8px;
}

.f-ticket__qr_qr span {
    font-size: 12px;
    display: block;
    width: 0;
    position: absolute;
    top: 35%;
    bottom: 35%;
    right: 0;
    -webkit-transform-origin: left bottom;
    transform-origin: left bottom;
    -webkit-transform: rotate(-90deg) translateY(15px);
    transform: rotate(-90deg) translateY(15px);
}

.f-ticket__qr_title {
    text-transform: uppercase;
    font-size: 12px;
    line-height: 1.1;
    margin-bottom: 10px;
    margin-top: -3px;
    height: 25px;
    overflow: hidden;
    text-align: center;
}

.f-ticket__qr_vs {
    text-transform: uppercase;
    font-size: 8px;
    line-height: 1.2;
}

.f-ticket__qr_tribuna {
    margin-top: 3px;
    display: flex;
    justify-content: space-between;
    font-size: 10px;
    font-weight: 700;
}

.f-ticket__qr_tribuna > div {
    padding: 2px 0;
}

.f-ticket__qr_tribuna small {
    display: block;
    font-weight: 600;
}

.f-ticket__qr_sector {
    font-size: 11px;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #000;
}

.f-ticket__qr_info {
    font-size: 6px;
    text-align: justify;
    margin-top: 5px;
    position: absolute;
    bottom: 10px;
    width: 156px;
}

.f-ticket__body {
    flex-shrink: 0;
    width: 400px;
    border-right: 5px dotted #c4c4c4;
    position: relative;
    z-index: 9;
}

.f-ticket__body_ruc {
    text-transform: uppercase;
    font-weight: 900;
    font-size: 9px;
    display: block;
    width: 290px;
    position: absolute;
    left: -1px;
    bottom: 9px;
    line-height: 1.2;
    -webkit-transform-origin: left bottom;
    transform-origin: left bottom;
    -webkit-transform: rotate(-90deg) translateY(25px);
    transform: rotate(-90deg) translateY(25px);
}

.f-ticket__body_sure {
    position: absolute;
    bottom: 13px;
    left: 40px;
    font-size: 8px;
    font-weight: 600;
}

.f-ticket__body_content {
    padding: 28px 20px 20px 40px;
}

.f-ticket__body_head {
    display: flex;
    justify-content: space-between;
    font-size: 11px;
}

.f-ticket__body_date {
    text-align: right;
}

.f-ticket .ft-upper {
    text-transform: uppercase;
}

.f-ticket__body_vs {
    margin-top: 10px;
}

.f-ticket-vs__body {
    display: flex;
    align-items: center;
    padding: 6px 2px;
    border-top: 3px solid #000;
    border-bottom: 3px solid #000;
}

.f-ticket-vs__vs {
    font-size: 18px;
    font-weight: 700;
    line-height: 1;
    text-transform: uppercase;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.f-ticket-vs__title {
    max-height: 70px;
    overflow: hidden;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.f-ticket__body_tribune {
    font-size: 12px;
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
}

.ft-body-sector {
    display: table;
    max-width: 55%;
    width: 100%;
}

.ft-body-sector > div {
    /* width: 80px; */
    display: flex;
    justify-content: space-between;
    padding-bottom: 3px;
    margin-bottom: 3px;
    border-bottom: 1px solid;
}

.f-ticket__body_tribune b {
    text-transform: uppercase;
}

.f-ticket__body_logos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    left: 34px;
    right: 14px;
    bottom: 27px;
}

.f-ticket__body_logos .ft-jn {
    position: relative;
}

.f-ticket__barcode {
    flex-shrink: 0;
    position: relative;
    width: 75px;
}

.f-ticket__barcode_body {
    width: 305px;
    overflow: hidden;
    height: 100px;
    padding: 10px 20px;
    position: absolute;
    bottom: 0;
    -webkit-transform-origin: left bottom;
    transform-origin: left bottom;
    -webkit-transform: rotate(-90deg) translateY(100px);
    transform: rotate(-90deg) translateY(100px);
}

.f-ticket__barcode_head {
    font-size: 10px;
    display: flex;
    justify-content: space-between;
}

.f-ticket__barcode_data {
    font-weight: 600;
    text-transform: uppercase;
}

.f-ticket__barcode_price {
    font-weight: 600;
    font-size: 13px;
    line-height: 1.1;
}

.f-ticket__barcode_footer {
    margin-top: 5px;
    font-size: 10px;
    font-weight: 600;
    line-height: 1.1;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.f-ticket__barcode_footer small {
    font-weight: 400;
    display: block;
}

.f-ticket__qr_info {
    font-size: 6px;
    text-align: justify;
    margin-top: 5px;
    position: absolute;
    bottom: 10px;
    width: 156px;
}

