<app-navbar></app-navbar>

<main>
    <div class="main-content"></div>


    <!-- ///////////////////////////////// Carrusel de Imagenes /////////////////////////////////// -->
    <div #carousel id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li *ngFor="let slide of slides; let i = index" data-target="#carouselExampleIndicators"
                [attr.data-slide-to]="i" [ngClass]="{'active': i === 0}"></li>
        </ol>
        <div class="carousel-inner">
            <div *ngFor="let slide of slides; let i = index" class="carousel-item" [ngClass]="{'active': i === 0}">
                <img [src]="slide.image" class="d-block w-100" [alt]="'Banner ' + (i + 1)">
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>

    <section class="events my-5">
        <div class="container container-wide">
            <div class="row">
                <div class="icon-text-container col-md-12">
                    <h2 class="text-center">Eventos destacados</h2>
                    <i class="fa fa-star-half-alt text-yellow"></i>
                </div>
                <div class="row events-container">
                    <div class="col-10 col-md-6 col-lg-3 mb-4" *ngFor="let event of events">
                        <a routerLink="/eventDetail" class="card-link">
                            <div class="card">
                                <img class="img-fluid" [src]="event.image" class="card-img-top" alt="Evento">
                                <div class="card-body">
                                    <h5 class="card-title">{{ event.title }}</h5>
                                    <p class="card-text"><i class="fas fa-calendar-alt"></i> {{ event.date }}</p>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <button class="btn btn-comprar btn-comprar">Comprar</button>
                                        <p class="card-text">Desde {{ event.price }}</p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="col-10 col-md-6 col-lg-3 mb-4" v-for="event in events">
                        <a href="#" class="card-link">
                            <div class="card">
                                <img class="img-fluid" src="https://cdn.joinnus.com/user/3535201/act66007a306ce82.jpg"
                                    class="card-img-top" alt="Evento">
                                <div class="card-body">
                                    <h5 class="card-title">Crea y vende tu evento</h5>
                                    <p class="card-text">6M+ ENTRADAS VENDIDAS | 60k+ VENDEDORES | 8k+
                                        ORGANIZADORES DE EVENTOS</p>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <button class="btn btn-info btn-info">Contactenos</button>
                                        <p class="card-text">Precio variable</p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

<app-footer></app-footer>