@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(3px);   /* Movimiento ligeramente menos pronunciado */
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.container {
    margin-top: 50px;
    position: relative; 
}

main, .main-content{
    animation: fadeIn 0.5s ease-in-out;
}

main.loaded{
    opacity: 1;
}




/* Asegurar que los eventos y el botón se alineen correctamente */
.events .row {
    display: flex;
    align-items: flex-start;
}



h1 {
    font-size: 3em; /* Ajusta el tamaño de fuente del encabezado */
    margin-bottom: 60px; /* Aumenta el margen inferior para más espacio debajo del encabezado */
    line-height: 1.5; /* Ajuste del espacio entre líneas del encabezado */
}



.container-wide {
    max-width: 95%; /* Ajusta este valor para cambiar el ancho del contenedor principal */
    margin: 0 auto;
    padding: 0 20px;
}

.card-link {
    text-decoration: none; /* Elimina la decoración del enlace */
    color: inherit; /* Hereda el color del texto */
    display: block; /* Asegura que el enlace envuelva todo el contenedor */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Transición suave para efectos */
}

.card-link:hover .card {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Efecto hover */
    transform: translateY(-5px); /* Efecto hover */
    cursor: pointer; /* Cambia el cursor a pointer en hover */
}

.card {
    width: 100%;
    height: 500px; /* Ajusta la altura según tus necesidades */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #f8f5f5;
    background-color: #2c2929; 
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease; /* Transición suave */
}

.card-img-top {
    height: 50%; /* Ajusta la altura de la imagen */
    object-fit: cover;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 50%; /* Ajusta la altura del cuerpo de la tarjeta */
    overflow: hidden;
    padding: 15px;
}

.card-title, .card-text, .btn {
    margin: 5px 0;
}

/* Estilo base del botón */
.card .btn-comprar {
    background-color: #f77d31;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


.card .btn-comprar:hover {
    background-color: #bb5d22;
}


.card .btn-comprar:active {
    transform: translateY(4px); 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
}


.card .btn-comprar.pressed {
    transform: translateY(4px); 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
}


.fa-star-half-alt {
    font-size: 2.5rem;
    color: #E5E4E2;
    display: block;
    margin: 0 auto 1.5rem auto;
}

.carousel-inner .carousel-item {
    transition: transform 0.6s ease, opacity 0.6s ease;
}
