

/* You can add global styles to this file, and also import other style files */
body {
    font-family: 'Plus Jakarta Sans', Arial, sans-serif; 
    background-color: #221f1f; 
    color: white;
    text-align: center;
    overflow-x: hidden; /* Evita el desplazamiento horizontal */

    
}

@keyframes onAutoFillStart {
    from {}
    to {}
}

@keyframes onAutoFillCancel {
    from {}
    to {}
}


header .buttons .btn {
    font-family: 'Kanit', Arial, sans-serif;
    background-color: #221f1f;
    color: rgb(255, 253, 253);
    padding: 5px 10px;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    white-space: nowrap; /* Evita que el texto se divida en varias líneas */
}

header .btn:hover {
    background-color: #2f4858;
}

header .buttons .filter-button-categories {
    display: flex;
    align-items: center;
    background-color: #363030;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    position: relative;
    left: -100px;
}

header .filter-button-categories:hover {
    background-color: #575454;
    color: rgb(247, 243, 243);
}

header .filter-button-categories.active {
    background-color: #070707 !important;
    color: rgba(238, 231, 231, 0.5) !important;
}

header .filter-button-categories:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(235, 230, 230, 0.5);
}

header .filter-button-categories i {
    margin-right: 20px;
}

header .filter-button-categories i,
header .filter-button-categories span {
    pointer-events: none;
}

header .buttons .dropdown-menu {
    right: 0; /* Alinea el menú desplegable a la derecha */
}

header .dropdown .dropdown-toggle {
    background-color: #221f1f;
    color: rgb(255, 253, 253);
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

header .dropdown .dropdown-toggle:hover {
    background-color: #555;
}

header .btn-outline-primary,
header .btn-outline-success {
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
    white-space: nowrap; /* Evita que el texto se divida en varias líneas */
}

header .btn-outline-primary:hover
 {
    background-color: #3553da;
    color: white;
}

header .btn-outline-success:hover {

    background-color: #44b457;
    color: white;
}

header .btn-outline-primary:focus,
header .btn-outline-success:focus {
    box-shadow: none;
}

.dropdown-menu.custom-dropdown {
    width: 350px !important;
    background-color: rgba(53, 50, 50, 0.8) !important;
    border: 1px solid #ddd !important;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1) !important;
    position: absolute !important; /* Cambiar a 'absolute' para anclar al contenedor */
    top: 60px !important; /* Colocar justo debajo del botón */
    left: -260% !important; /* Alinear a la izquierda del contenedor */
    z-index: 1000 !important;
    display: block !important;
    margin: 0 !important;
    padding: 10px 0 !important;
    border-radius: 5px !important;
    backdrop-filter: blur(10px) !important;
    opacity: 0 !important;
    pointer-events: none; /* Evita que los elementos sean interactuables */
    transition: right 0.5s ease, opacity 0.4s ease !important;
}

.dropdown-menu.custom-dropdown.show {
    
    opacity: 1 !important;
    pointer-events: auto; /* Permite que los elementos sean interactuables cuando está visible */
}

.dropdown-menu{
    width: 350px !important;
    background-color: rgba(128, 107, 107, 0.8) !important;
    border: 1px solid #ddd !important;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1) !important;   
      top: 0 !important; /* Ajusta según la altura de tu header */
    z-index: 1000 !important;
    margin: 0 !important;
    padding: 10px 0 !important;
    border-radius: 5px !important;
    backdrop-filter: blur(10px) !important;
    opacity: 0 !important;
    pointer-events: none; /* Evita que los elementos sean interactuables */
    transition: right 0.5s ease, opacity 0.4s ease !important;
}

.dropdown-menu.show {
    
    opacity: 1 !important;
    pointer-events: auto; /* Permite que los elementos sean interactuables cuando está visible */
}



.input-group input {
    width: 100%;
    padding: 20px 10px 10px 15px;
    border: 1px solid rgba(107, 105, 105, 0.5);
    border-radius: 5px;
    background: rgba(22, 25, 31, 0.4);
    color: white;
    font-size: 16px;
    transition: border-color 0.3s ease, background-color 0.3s ease;
}

@supports (-webkit-appearance: none) and (not (-moz-appearance: none)) and (text-size-adjust: none) {
    .general-container input:-webkit-autofill,
     .general-container input:-webkit-autofill:hover, 
     .general-container input:-webkit-autofill:focus, 
    .general-container input:-webkit-autofill:active {
        
        -webkit-box-shadow: 0 0 0px 1000px rgba(40, 57, 90, 0.4) inset !important;
       
        -webkit-text-fill-color: rgb(255, 255, 255) !important;
        transition: background-color 5000s ease-in-out 0s;
        animation-name: onAutoFillStart;
        animation-fill-mode: both;
    }
}

input:not(:-webkit-autofill) {
    animation-name: onAutoFillCancel;
    animation-fill-mode: both;
}


/* Estilos del carrusel */
.carousel {
    position: relative;
}

.slick-slide img {
    width: 100%;
    height: auto;
}

.slick-prev, .slick-next {
    position: absolute !important;
    top: 50% !important;
    width: 30px !important;
    height: 30px !important;
    background-color: transparent !important;
    border: none !important;
    color: rgb(155, 60, 60) !important;
    outline: none !important;
    cursor: pointer !important;
    transform: translateY(-50%) !important;
    z-index: 10 !important; /* Ajusta el z-index a un valor menor */
}

.slick-prev:before, .slick-next:before {
    color:#793d19 !important; /* O el color que prefieras */
    font-size: 40px; /* Ajusta el tamaño según tus necesidades */
}

.slick-prev {
    left: 10px !important;
}

.slick-next {
    right: 20px !important;
}

.slick-prev:hover, .slick-next:hover {
    background-color: transparent !important;
    border: none !important;
    outline: none !important;
}


.slick-dots {
    bottom: 5px;
  }
  
  .slick-dots li {
    margin: 0 10px; /* Aumenta la separación entre los indicadores */
  }
  
  .slick-dots li button:before {
    font-size: 14px;
    color: rgba(255, 153, 0, 0.5); /* Naranja transparente para los no activos */
    content: "";
    width: 25px; /* Ajusta el ancho de los indicadores */
    height: 10px; /* Ajusta la altura de los indicadores */
    background-color: rgba(255, 153, 0, 0.5);
    display: inline-block;
    transition: all 0.3s ease; /* Transición suave */
  }
  
  .slick-dots li.slick-active button:before {
    font-size: 16px;
    color: rgba(255, 153, 0, 1); /* Naranja fuerte para el activo */
    background-color: rgba(255, 153, 0, 1);
    width: 30px; /* Ajusta el ancho del indicador activo */
    height: 12px; /* Ajusta la altura del indicador activo */
  }
  